@media only screen and (min-width: 992px)

	.services_area .services_links .services_links_list
		.slick-track
			width 100% !important
		.slick-list
		.slick-track
			display flex
			width 100%
			overflow visible
		.slick-track
			transform none !important

	.m_phone
		display none

	.contact_area
		.contact_area_in
			.contact_left
				.m_title
					display none

	.header_area
		.slogan
			.book
				display none

	.footer_right .cop
		display none

	.footer_area
		footer
			.social_m
				display none

	.games_slider_area

		.games_slider_in
			.games_miniatures_area
				display flex
				.games_miniatures
					// display flex
					.slick-track
						width 100% !important
						display flex
						transform none !important
					.item
						width auto !important





@media only screen and (max-width: 1400px)
	.menu_l
		transform translateX(0)
	header
		.phone
			margin-left 55px
	wrapper = 960px
	.wrapper
		width wrapper
	.services_area .services_item .services_info .service_info_in
		width wrapper
	.contact_area .contact_area_in .contact_right .title
		font-size 32px
	.features_area .news_area_in .news_item
		padding-left 40px
		padding-right 40px
	section.mountains .get_in_touch .get_in_touch_title
		font-size 40px
		line-height 60px

	.header_area.header_conatcts_area .wrapper
		position static
		&:before
			right 0
			width 100%

	.contact_form .contact_form_area .get_in_touch .touch_form
		padding 100px 50px 100px 50px


	.way_area .way_area_in .way_t
		left 0
		transform: scale(0.8)
		// transform-origin: 0 50%


	.about_gallery_area
		.about_gallery_in
			.about_gallery_text
				.title
					margin-top 0
					font-size 35px
					line-height: 1.3

		&.about_gallery_area_right
			.about_gallery_text
				margin 0 30px 0 0


@media only screen and (max-width: 1200px)
	wrapper = 860px
	.wrapper
		width wrapper
	.services_area .services_item .services_info .service_info_in
		width wrapper
	.games_slider_area .games_slider_in .games_miniatures_area .games_miniatures .slick-track .title
		letter-spacing 2px
	.footer_area footer .footer_left .footer_links a
		letter-spacing: 2px
	section.mountains .get_in_touch
		padding 40px 40px 60px
	.features_area
		.news_area_in
			.news_item.news_item_full
				padding-left 290px
				.hotel_features
					width 240px
	.contacts_header .contacts_info .contacts_info_title
		font-size 50px
		line-height 1.2
	.contacts_header
		.map_address
			right 0
		.contacts_info
			.contacts_info_contacts
				.contact_info_item_area
					width 500px
					.contacts_info_item
						.contacts_info_item_n
							font-size 20px
	.contact_form
		.contact_form_area
			.get_in_touch
				.about_casino
					padding 50px 30px 30px 30px

	.events_item .events_items_in ul.events_tabs li
		font-size 22px
		height 40px
	.events_page_area .event_page_content .event_page_title
		font-size 50px
	.events_items_area
		grid-template-columns: 1fr 1fr
		.events_item_e
			&:nth-child(10n+7)
				grid-column-start: span 1;
			&:nth-child(10n+11)
				grid-column-start: span 1;


	.way_area
		.way_area_in
			//min-height auto
			//margin-top 50px
			.way_t
				//display none
			.flight_area
			.wishes_area
				//position static
				//margin-top 70px

	.about_gallery_area
		.about_gallery_in
			.about_gallery_text
				margin 0 0 0 30px
				.title
					margin-top 0
					font-size 35px
					line-height: 1.3

		&.about_gallery_area_right
			.about_gallery_text
				margin 0 30px 0 0

@media only screen and (max-width: 992px)
	wrapper = 700px
	.wrapper
		width wrapper
	.services_area .services_item .services_info .service_info_in
		width wrapper
	.news_area .news_area_in
		grid-template-columns unset

	.header_area header .header_center .logo
		width 90px
		height 50px
		overflow hidden


	.header_area.header_event_desc .slogan h1
		font-size: 40px
	.header_area.header_event_desc .event_arrow
		display none
	.header_area.header_event_desc .event_page_date
		margin-bottom 30px
	.header_area.header_event_desc .header_area_in
		min-height 800px
	.header_area .header_area_bg.header_event_desc_area_bg
		background-size: 1200px
	.event_gallery_area_m
		margin-top -100px
	.events_w_area .events_w_area_title
		font-size 34px
		line-height: 1.3em


	.header_area
		.header_area_mask_bg
			opacity 0.6
		header
			.book
				display none
				position absolute
				top 500px
				width 160px
				text-align center
				left calc(50% - 80px)


		.phone
			display none

	.news_area .news_area_in .news_item_v
		grid-row-start unset
		grid-row-end unset
		.news_prize
			order 10
			grid-row-start 1
			grid-row-end 5
			grid-column-start 2
			grid-column-end 3
			justify-self end
	.news_area .news_area_in .news_item_full
	.news_area .news_area_in .news_item_h
		grid-column-start unset
		grid-column-end unset
	.news_area .news_area_in .news_item .news_title
		font-size 40px
		line-height 50px


	.gallery_area .gallery .slick-arrow
		transform scale(0.6) rotate(45deg)

	.about_area
		.about_info .item
			transform scale(0.7)
		.about_area_mask
			opacity 0.7
	.about_area_mobile
		.about_info
			.item
				transform scale(0.8)
				.about_num
					font-size 80px

	.contact_area
		.wrapper
			width 100%
		.contact_area_bg
			width calc(100% + 150px)
		.contact_area_in
			flex-direction column
			width wrapper
			margin 0 auto
			.contact_left
				height 500px
				margin-bottom 30px
				.m_title
					width 100%
					margin-bottom 20px
					position absolute
					left 0
					top 0
					//width 100%
					text-align center
					br
						display none
			.contact_right
				flex-direction row
				flex-wrap wrap
				justify-content space-between
				align-items center
				> *
					margin-top 20px !important
				.title
					width 100%
					margin-bottom 20px
					display none
					//text-align right
					br
						display none
						//text-align left

	.events_area .events_area_in .slide_content .title
		font-size 40px
		line-height 54px

	.games_slider_area .games_slider_in .games_slider .games_item .item_left .title
		font-size 50px
		line-height 65px

	.gallery_area .gallery_area_in h2
		font-size 40px
	.gallery_area .gallery .slick-prev
		margin-right 20px
	.gallery_area .gallery .slick-arrow
		margin-left 20px
		display none !important

	.services_area
		.slick-track
			padding-bottom 150px
			//outline 1px solid red
		.services_item
			//display none !Important
			.services_item_in
				display block
				align-items unset
				flex unset
				justify-content unset
				flex-direction unset
			.services_img
				img
					height 500px
					width auto
					// max-width unset

				//min-height 488px
			.services_title_adj
				position absolute
				bottom -110px
				//border 3px solid red
				width wrapper
				max-width wrapper !important
				text-align center
				height 150px
				div
					font-size 26px
					line-height 40px
				span
					br
						display none
	.services_area .services_item .services_item_in
		padding-top 200px
	.services_area .services_item .services_title
		max-width 100%
		width 100%
		text-align center
	.services_area .services_item .services_info .service_info_in
		margin-bottom 350px

	.services_area .services_links .services_links_line
		top -60px
	.services_area .services_links .services_links_list
		display block
		flex-direction unset
		justify-content unset
		height auto
		margin-top -191px
		.slick-list
			height 185px
			padding 80px 0
			//box-sizing unset
		.slick-track
			display block !important
			overflow hidden
			height 185px
			padding-top 50px
			justify-content unset
			flex-direction unset
			//box-sizing unset
			.item
				padding-top 60px
				flex unset !important
				.tit
					display none !important
					opacity 0
				.square
					top 50px
				&:first-child
					.square
						left calc(50% - 7px)
				&:last-child
					.square
						right calc(50% - 7px)

	.services_area .services_links .services_links_list .slick-track .item.slick-current .square
		box-shadow 0 0 50px 20px rgba(235,188,149,0.15)
	.footer_area
		footer
			flex-direction column
			margin-bottom 40px
			.footer_center
				order 1
				.phone
					//font-size 50px
			.footer_left
				order 2
				margin-top 80px
				.cop
					display none
			.footer_right
				order 3
				.social
					width 100%
					justify-content center
				.subscribe_area
					margin-top 50px
					width 100%
					.subscribe_input
						width 100%
				.footer_bottom
					width 100%
					margin-top 50px
					.email
						a
							font-size 18px
					.terms
						font-size 18px
				.cop
					font-size 18px
					width 100%
					text-align left
					margin-top 30px

	.news_area
		margin-top 50px
		margin-bottom 50px

	.games_slider_area
		.games_slider_in
			.games_miniatures_area
				order -1
				overflow hidden
				height auto
				margin-bottom 50px
				border-bottom 1px solid rgba(255,255,255,0.1)
				border-top 1px solid rgba(255,255,255,0.1)
				padding 20px 0
				.games_miniatures_title
						// display none
						width 100%
						border none
						justify-content space-between
						margin-bottom 20px
						br
							display none
				.games_miniatures_item
					.item
						overflow hidden
			.games_slider
				overflow hidden
				.games_item
					.item_left
						margin-bottom 50px
						text-align center
					.item_right
						.table
							.cards
								top 0px
								left 40px
								transform: scale(0.8)
								max-width 74%
								img
									max-width 100%
									height auto
				.slick-slide
					flex-direction column
	section.mountains .get_in_touch
		flex-direction column
	section.mountains .get_in_touch .get_in_touch_title
	section.mountains .get_in_touch .get_in_touch_subtitle
		text-align: center;
	section.mountains .get_in_touch .get_in_touch_title br
		display none
	section.mountains .social_items
		display flex
		justify-content space-around
		margin-bottom 80px
	section.mountains .get_in_touch .social_item_p .social_number
		font-size 18px
	section.mountains .get_in_touch .touch_form .touch_title
		text-align center
	section.mountains .get_in_touch .touch_form .touch_title br
		display none
	.features_area
		.news_area_in
			.news_item:before
				background: rgba(#000, 0.4)
	section.mountains .georgia span
		margin-left 20px
		font-size 20px


	.contacts_header
		margin-top 70px
		.map_address
			right auto
			left 200px
			text-align right
			top 200px
		.contacts_info
			.contacts_info_title
				text-align center
			.contacts_info_contacts
				margin-top 400px
				.contact_info_item_area
					width 100%
					justify-content: space-between;
					.contacts_info_item
						flex none
						&:last-child
							text-align: right

	.contact_form
		.contact_form_area
			.get_in_touch
				display flex
				flex-direction column
				.about_casino
					min-height 650px
					width 100%
				.touch_form
					padding 40px 30px 50px
				.touch_title
					text-align center
					br
						display none

	section.try_gaming
		.try_gaming_area
			.try_gaming_area_title
				font-size 40px



	.gallery_page
		margin-top 80px

	.gallery_area .gallery .slick-list .item .gallery_title span
		font-size 40px
	.gallery_area .dots
	.gallery_desc
		margin-top 35px


	.about_gallery_area
		.about_gallery_in
			flex-direction: column;
			.about_gallery_text
				margin 0 0 30px 0
				order -1
				text-align: center;
				.title
					margin-top 0
					font-size 35px
					line-height: 1.3
					br
						display none
		&.be_win
			.about_gallery_in
				.about_gallery_text
					margin-top -170px


		&.about_gallery_area_right
			.about_gallery_text
				margin 0 0 30px 0


	.quote_area
		.quote_area_in
			.p_cube
				top -100px
				right -50px


	.footer_area
		.footer_right
			.social
				display none
		.social_m
			justify-content center
			.item
				&:last-child
					margin-right 0


	.way_area
		.way_area_in
			//min-height auto
			//margin-top 50px
			.way_t
				transform scale(0.6)
				left -100px
			.flight_area
			.wishes_area
				width 170px
				//position static
				//margin-top 70px
			.wishes_area
				.wishes_title
					font-size 17px
			.flight_area
				.flight_item
					white-space nowrap
					.icon
						margin 0 5px


@media only screen and (max-width: 768px)
	.big_logo
		display none
	wrapper = 90%

	.wrapper
		width wrapper
	.services_area .services_item .services_info .service_info_in
		width wrapper
	.services_area
		.services_item
			.services_title
				h3
					font-size 40px
			.services_title_adj
				width wrapper
	.contact_area
		.contact_area_in
			width wrapper

	//events page
	.events_item
		margin-top 0
	.events_item .events_items_in ul.events_tabs li
		font-size 18px
		height 30px
	.events_page_area .event_page_content .event_page_title
		font-size 40px
	.events_items_area
		grid-template-columns: 1fr
		.events_item_e
			&:nth-child(1)
				grid-column-start: span 1;
			&:nth-child(10n+7)
				grid-column-start: span 1;
			&:nth-child(10n+11)
				grid-column-start: span 1;

	// 404
	.video_404
		display none
	.video_bg
		.img_bg
			display block

	.page_404_header

		.page_404
			margin-top 0
			.img_404_m
				display block !important
			.img_404_d
				display none
			.page_404_content
				margin-top -50px
			.page_404_desc
				text-align: center;
				line-height: 1.4em
			.page_404_links
				flex-direction: column;
				align-items: center;
				span
					display block
					margin-bottom 25px
					margin-right 0

	.header_area
		.header_bottom a
			flex-direction column
			text-align center
			line-height 1.5em
			span
				margin 0 0 20px 0
		header
			padding-top 30px
			flex-wrap wrap
			.header_left
			.header_right
				min-width 50%
			.header_center
				order 3
				margin-top 30px

	.gallery_area
		.gallery
			.slick-list
				min-height unset
	.news_area
		margin-top 150px
		.news_area_in
			.news_item
				grid-gap 30px
				> *
					justify-self center
					text-align center
				.news_prize
					grid-row-start unset
					grid-row-end unset
					grid-column-start unset
					grid-column-end unset
					justify-self center
					order -1
				.news_time
					order -2
	.features_area
		.news_area_in
			.news_item
				&.news_item_v
					grid-row-start unset
					grid-row-end unset
				&.news_item_h
					grid-column-start unset
					grid-column-end unset
				&.news_item_full
					grid-column-start unset
					grid-column-end unset
	.contact_area
		.contact_area_in
			margin-top 100px
			.contact_right
				.button
					margin-top 55px !important
					width 100%
					text-align center
				.phone
				.email
					display none

			.contact_left
				height 600px
				.info
					width 100%
					justify-content space-around
					//margin-top 200px
					div
						margin-right 0
						text-align center
						padding 0 20px
			.address
				top 340px
				width 100%
				left 0
				text-align center
				//border 1px solid red
				br
					display none
		.contact_area_bg
			left 0
			//right -200px
			width 100%
			background-position-x 34%
			//background-size 300%
	.contacts_header
		.map_address
			left 150px



	.events_area
		.slider_miniatures_area
			.events_btn
				display none
		.events_area_in
			min-height 500px
			.events_btn_m
				margin-top 40px
				display inline-block
				width max-content
				align-self center
			.slider_miniatures_area
				margin-top 80px
				width 100%

			.slider_miniatures
				flex-direction row
				width 100%
				height 100px
				overflow visible
				//display block
				display flex
				align-items center
				.slick-arrow
					margin 0 !important
					padding 10px !important
					&:hover
						background transparent
				.slick-prev .icon:before
					transform rotate(0) !important

				.slick-next .icon:before
					transform rotate(180deg) !important

				.item
					text-align center
					min-height unset
					.date
						justify-content center
						font-size 36px
					.type
						display none
					.title
						display none
					&.slick-current
						.subdate
							opacity 0.5
			.events_slider
				.slide_item
					background-size 200%
					height auto
					.events_mask
						opacity 0.5
			.slide_content
				margin 0
				min-height 900px
				text-align center
				.date
					display none
	.features_area
		.news_area_in
			.news_item.news_item_full
				padding-left 40px
				.hotel_features
					display none

	.events_w_area
		.events_w_in
			// flex-direction column
			flex-wrap wrap
			align-items: center;
			justify-content: center;
			.events_w_item
				margin-bottom 30px
				min-width 300px
				max-width 300px

	.quote_area
		.quote_area_in
			.quote
				font-size 20px
				line-height: 28px
				&:before
					font-size 80px

	.p_hands
	.p_cube
	.p_roulette
	.p_fishki
		transform: scale(0.7);


	.about_footer_area
		.about_footer_in
			.about_footer_title
				font-size 40px
				line-height: 60px

	.header_area.header_about
		.header_area_bg
			background-size: cover;
		.header_area_in
			min-height 800px
			.slogan
				margin-top -200px
				line-height: 58px
	.about_footer_area
		min-height: 923px
		margin-bottom -420px
		background-size: cover



	.way_area
		.way_area_in
			min-height auto
			margin-top 50px
			display flex
			flex-direction column
			.way_t
			.flight_area
			.wishes_area
				position relative
				top auto
				left auto
				bottom auto
				right auto

			.way_title
				order 1
				text-align center
			.way_desc
				order 2
				text-align center
			.wishes_area
				order 5
				width 100%
				text-align center
				.wishes_title
					font-size 28px
					line-height 1.6



			.flight_area
				order 3
				margin-bottom: -156px !important;
				margin-left: 88px !important;
				margin-top 100px
				.flight_item
					.icon
						margin 0 20px
			.way_t
				order 4
				display flex
				flex-direction column
				transform scale(1)
				margin 100px 0 100px 30px
				width auto !important
				height auto !important

				.way_1 .plane
					top -35px
					left -8px
					transform rotate(90deg)
				.way_6 .plane
					bottom  -35px
					left -8px
					transform rotate(90deg)

				.fishki
					display none

				.way_5
					display none !important
				> div
					position relative !important
					top auto !important
					left auto !important
					bottom auto !important
					right auto !important
					height 200px !important
					width 300px !important
					&.way_1
						height 300px !important
					//outline 1px solid red !important
					span
						background none !important
					.square
						bottom 50% !important
						left -6px !important
						top auto !important
						right auto !important
						margin-bottom -6px
						display block !important
					.title
						bottom 50% !important
						left 60px !important
						top auto !important
						right auto !important
						text-align left !important
						line-height 22px !important
						height 60px
						display flex
						align-items center
						font-size 14px !important
						margin-bottom -30px
						width 280px !important
					&:before
						background rgba(white, 0.2)
						content ""
						position absolute
						left 0
						top 0
						height 100%
						width 2px



@media only screen and (min-width: 768px)
	.events_btn_m
		display none



@media only screen and (min-width: 640px)
	.about_area_mobile
		display none
@media only screen and (max-width: 640px)
	.about_area
		background-size 165%
		.about_area_mask
			opacity 0
		.about_area_in
			min-height 1000px
			.about_info
				opacity 0
		.about_title
			order +2
		.play_vid
			order +2

	//events page
	.events_item .events_items_in ul.events_tabs li
		font-size 16px
		height auto
		line-height 1.4em
		min-height 45px
		display flex
		align-items: center
		&:before
			bottom -25px

	.events_area
		.events_area_in
			.slider_miniatures_area
				margin-top 40px
			.events_slider
				.slide_item
					background-size 150%
			.slide_content
				min-height 600px


	.header_area .slogan h1
		font-size 50px
	.services_area .services_item .services_title h3
	.games_slider_area .games_slider_in .games_slider .games_item .item_left .title
	.gallery_area .gallery_area_in h2
	.contact_area .contact_area_in .contact_left .m_title
		font-size 34px

	.gallery_area .container ul.tabs li
		letter-spacing 1px

	.contact_area .contact_area_in .address
		font-size 20px

	.footer_area footer .footer_right .footer_bottom .email a
	.footer_area footer .footer_right .footer_bottom .terms
	.footer_area footer .footer_right .cop
		font-size 14px

	.footer_area footer .footer_left .footer_links a
		letter-spacing 1px
		line-height 28px

	.news_area .news_area_in .news_item
		padding 55px 40px 40px

	.menu.open
		left 20px !important
		top 25px !important

	.m_phone
	.lang
		z-index 11

	.games_slider_area .games_slider_in .games_miniatures_area .games_miniatures_title
		font-size 18px

	.services_area .services_item .services_img
		min-height 350px	

	.services_area .services_item .services_img img
		height unset
		max-height 350px

	.get_in_touch .touch_form .touch_form_top
		flex-direction column
	.get_in_touch .touch_form .touch_form_top .touch_form_item
		margin 0
	.get_in_touch .touch_form .touch_form_top .touch_form_item:first-child
		margin-bottom 50px
	section.mountains .social_items
		flex-direction: column
		margin-left auto
		margin-right auto
	section.enjoy_moments
		min-height 540px
		background-size: cover;
		margin-bottom -90px
	section.enjoy_moments .enjoy_moments_area .enjoy_moments_title
		font-size 40px
		line-height: 60px

	.contacts_header
		.map_address
			left 100px

	.header_area.header_about
		.header_area_in
			.slogan
				h1
					font-size 33px
					line-height 48px

	.about_footer_area
		.about_footer_in
			.about_footer_title
				font-size 30px
				line-height 48px


	.gallery_area
		.container
			ul.tabs
				//display none
				li
					display none
			.tab-content
				height auto !important
				margin-bottom 100px
				padding-left 0
				padding-right 0
				margin-left -20px
				margin-right -20px
				.gallery
					.slick-list
						border-radius 0
				.gallery_desc
					font-size 21px
					br
						display none

@media only screen and (max-height: 580px)
	.menu_area .menu_area_in ul
	.menu_area .menu_area_in ul li
	.menu_area .menu_area_in ul li a
		line-height 50px
		font-size 24px



@media only screen and (max-width: 580px)
	.about_area
		.about_area_in
			min-height 550px

			.about_info
				height 550px
	.contacts_header
		.contacts_info
			.contacts_info_contacts
				.contact_info_item_area
					flex-direction: column;
					margin-top 0 !important
					.contacts_info_item
						text-align: center !important;
						margin-top 45px

@media only screen and (max-width: 480px)
	wrapper = 90%
	.wrapper
		width wrapper
	.services_area .services_item .services_info .service_info_in
		width wrapper
	.about_area
		.about_area_in
			min-height 400px

			.about_info
				height 400px

	.news_area .news_area_in .news_item .news_title
	.events_area .events_area_in .slide_content .title
		font-size 34px

	.header_area .slogan.tours_slogan h1
		font-size 32px
		line-height 56px
		margin-bottom 50px

	.contacts_header
		.map_address
			left 50px

	.contacts_header
		.contacts_info
			.contacts_info_title
				font-size 36px

	section.try_gaming .try_gaming_area .try_gaming_area_title
		font-size 34px

	.gallery_area .gallery .slick-list .item .gallery_title span
		font-size 30px
		&:before
			margin-right 10px
		&:after
			margin-left 10px


	.p_hands, .p_cube, .p_roulette, .p_fishki
		transform: scale(0.5)

	.p_roulette
		left -400px !important
	.p_fishki
		right -190px !important






@media only screen and (max-width: 380px)
	.contacts_header
		.map_address
			left 30px
