@keyframes intro
	from
		transform scale(0.8)
		filter blur(40px)
	to
		transform scale(1)
		filter blur(0)


@keyframes intro_mask
	from
		opacity 1

	to
		opacity 0


@keyframes menu_list
	from
		//transform translate(0,-30px)
		transform scale(1.1)
		opacity 0.3
	to
		//transform translate(0)
		transform scale(1)
		opacity 1


@keyframes big_logo
	from
		transform scale(0.9)
		opacity 0
	to
		transform scale(1)
		opacity 0.02