
body
	background #110f10 url("../img/bg.jpg")
	font-family Museo
	font-weight 500
	// overflow-x hidden
	&.menu_open
		position fixed
		height 100vh
		width 100%
		top 0
		left 0
		overflow-y scroll
	&.loaded
		.header_area_bg
			animation-duration 2s
			animation-name intro
			//animation-delay 0.5s
			animation-fill-mode forwards
		.header_area_mask
			animation-duration 7.5s
			animation-name intro_mask
			//animation-delay 0.5s
			animation-fill-mode forwards
		.big_logo
			animation-duration 2.5s
			//animation-delay 0.2s
			animation-name big_logo
			//animation-delay 0.5s
			animation-fill-mode forwards
		.menu
			display flex
		.menu_l
			opacity 0
*
	box-sizing border-box
	outline 0 !important
a
	text-decoration none
	cursor pointer


.mtm200
	margin-top -200px
.pt250
	padding-top 250px
.mt200
	margin-top 200px
.mt150
	margin-top 150px !important



wrapper = 1140px

.wrapper
	width wrapper
	margin 0 auto
	//outline 1px solid rgba(red, 0.3)



@font-face
	font-family Trajan
	font-display auto
	src: url("../fonts/trajan_3_pro_regular.otf") format("opentype");
@font-face
	font-family Museo
	font-display auto
	src url("../fonts/MuseoSansCyrl_700.otf") format("opentype")
	font-weight 400
@font-face
	font-family Museo
	font-display auto
	src url("../fonts/museosanscyrl_500.otf") format("opentype")
	font-weight 500
@font-face
	font-family Museo
	font-display auto
	src url("../fonts/MuseoSansCyrl_3.otf") format("opentype")
	font-weight 300
@font-face
	font-family Museo
	font-display auto
	src url("../fonts/MuseoSansCyrl_100.otf") format("opentype")
	font-weight 100








.header_area
	position relative
	//background-size 100%
	.header_area_mask_bg //only for mobile
		position absolute
		z-index -1
		top 0
		left 0
		width 100%
		height 100%
		background url(../img/bg.jpg)
		opacity 0
	.header_area_bg
	.header_area_mask
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index -1
	.header_area_bg
		background url(../img/header_bg.jpg) top center no-repeat
		z-index -2
		transform scale(0.8)
		filter blur(40px)
		&.headers_tours_bg
			background-image url(../img/header_tours_bg.jpg)
		&.headers_contacts_bg
			background-image url(../img/header_contacts_bg.jpg)
		&.headers_about_bg
			background-image url(../img/header_about_bg.jpg)
		&.header_event_desc_area_bg
			background-image url(../img/event_desc_area_bg.jpg)
	&.gallery_header_area
		.header_area_in
			min-height 0
	&.header_about
		.header_area_in
			min-height 1100px
			.slogan
				margin-top -480px
				line-height 100px
			.btn.book
				display none
	&.header_events
		.header_area_in
			min-height 200px
			z-index 25
			position relative
		.events_page_area
			margin-top -200px
	&.header_event_desc
		.header_area_in
			min-height: 1225px

		.slogan
			h1
				line-height: 1.2em
		.event_page_date
			font-size: 24px;
			line-height: 1.3em;
			font-family: Trajan;
			text-align: center;
			color: #f3ece1;
			font-weight: 100;
			margin-top 30px
		.event_arrow
			display block
			//background #fff
			align-self center
			height 72px
			width 72px
			cursor pointer
			border 2px solid #ac9e7f
			transform rotate(45deg)
			position relative
			box-sizing border-box
			opacity 0.9
			transition all 0.3s linear
			margin-left auto
			margin-right auto
			margin-top 80px
			&:hover
				opacity 1
			&:before
				content ''
				position absolute
				width calc(100% - 6px)
				height calc(100% - 6px)
				top 3px
				left 3px
				border 2px solid #ac9e7f
				box-sizing border-box
			span.icon
				position absolute
				width 15px
				height 15px
				top calc(50% - 7px)
				left calc(50% - 8px)
				transform rotate(225deg)
				margin 0 !important
				font-size 15px
				line-height: 1em

	.header_area_mask
		background #110f10 url("../img/bg.jpg")
	.header_area_in
		display flex
		flex 1
		min-height 800px
		flex-direction column
	header
		color #b2aeab
		display flex
		padding-top 60px
		.header_left
		.header_center
		.header_right
			flex 1
		.header_left
			justify-content flex-start
			display flex
			align-items center
			.phone
				opacity 0.5
				color #fff
				font-size 18px
				font-weight 700
				line-height 27px
				position relative
				font-family Trajan
				&:before
					position absolute
					content ''
					height 35px
					bottom 0
					left -20px
					border-left 1px solid rgba(#fff,0.2)
		.header_center
			//align-items center
			justify-content center
			display flex
			.logo
				height 60px
				img
					height 106px
					width 168px

		.header_right
			justify-content flex-end
			display flex
			align-items center
			.lang
				opacity 0.5
				color #efe5dd
				//font-family "Museo Sans Cyrl -700"
				font-size 12px
				font-weight 400
				line-height 12px
				text-transform uppercase
				// Text style for "r, u"
				letter-spacing 4.75px
				padding 5px 10px
				cursor pointer
				transition all 0.3s linear
				user-select none
				position: relative;
				&:hover
					text-decoration none
					opacity 1
				ul
					position: absolute
					// bottom -100%
					right 10px
					padding-top 10px
					display none
					li
						padding 5px 10px
						background: #8f694c
						border-bottom 1px solid rgba(255,255,255,0.2)
						&:last-child
							border none
			.m_phone
				position relative
				margin-left 20px
				.icon
					top -2px
					cursor pointer
				.m_p_phone
					opacity 0.5
					color #efe5dd
					font-size 16px
					font-weight 700
					line-height 27px
					position absolute
					left -160px
					top 0
					width 160px
					display none




	.slogan
		align-self center
		justify-content center
		align-items center
		text-align center
		color #e3d6cb
		flex 1
		display flex
		flex-direction column
		user-select none
		font-family "Trajan"
		//outline 1px solid rgba(green, 0.3)
		.book
			font-family Museo

		h1
			font-size 70px
		span
			margin-bottom 80px
			font-size 24px
			margin-top 25px
		&.tours_slogan
			h1
				line-height 100px


	.logo
		width 200px
		height 120px
		//outline 1px solid rgba(yellow, 0.3)
		display flex
		justify-content center
		user-select none

	.header_bottom
		padding 10px
		justify-content center
		display flex
		color white
		padding-bottom 60px
		//font-family Museo
		a
			color #656363
			font-size 13px
			font-weight 400
			text-transform uppercase
			letter-spacing 2.4px
			display flex
			align-items center
			padding 15px 20px
			transition all 0.3s linear
			&:hover
				text-decoration underline
				color #989898
			&:first-child
				margin-right 20px
			span
				margin-right 25px



// menu button
.menu_l
	cursor pointer
	user-select none
	height 20px
	display flex
	flex-direction column
	width 29px
	position relative
	transform translateX(-85px)
	justify-content space-between
	.line_1
	.line_2
	.line_3
		height 2px
		background #b2aeac
.menu
	position absolute
	z-index 11
	//top 70px
	cursor pointer
	user-select none
	transition all 0.5s cubic-bezier(0,.92,.56,1.24)
	height 20px
	display none
	flex-direction column
	width 29px
	justify-content space-between
	//outline 1px solid red
	.line_1
	.line_2
	.line_3
		height 2px
		background #b2aeac
		transition all 0.6s cubic-bezier(0,.92,.56,1.44)
	&.open
		left 70px !important
		top 80px !important
		.line_1
		.line_2
		.line_3
			position absolute
			top 50%
			left 0
			width 100%
			height 3px
			transform rotate(45deg)
			opacity 0.7
			transition all 0.8s cubic-bezier(0,.92,.56,1.24)
		.line_2
			transform rotate(-45deg)
			right 0
		.line_3
			opacity 0
			transform rotate(65deg)
			transition all 0.1s linear

// menu
.menu_area
	position fixed
	top 0
	left 0
	background #110f10 url("../img/bg.jpg")
	width 100%
	height 100vh
	min-height 500px
	color #fff
	display none
	transform-origin top center
	z-index 10
	.m_phone_menu
		position absolute
		top 10px
		right 10px
	.big_logo
		position absolute
		width 100%
		height 100%
		background url(../img/big_logo.svg) center center no-repeat
		z-index 2
		opacity 0
		transition all 0.8s linear
		transform scale(0.8)
	.menu_area_in
		width 100%
		height 100vh
		display flex
		align-items center
		justify-content center
		position relative
		z-index 2
		.lang
			position absolute
			z-index 3
			top 90px
			right 95px
			opacity 0.5
			color #efe5dd
			//font-family "Museo Sans Cyrl -700"
			font-size 12px
			font-weight 400
			line-height 17px
			text-transform uppercase
			// Text style for "r, u"
			letter-spacing 4.75px
			padding 18px 50px
			cursor pointer
			transition all 0.3s linear
			user-select none
			&:hover
				text-decoration none
				opacity 1
		ul
			transform  translate(0,-30px)
			line-height 70px
			font-size 30px
			transition all 0.5s linear
			animation-duration 2s
			animation-name menu_list
			animation-fill-mode forwards
			text-align center
			list-style none
			li
				a
					color #ffffff
					font-family "Trajan"
					font-size 20px
					font-weight 400
					line-height 70.83px
					text-transform uppercase
					position relative
					&:after
					&:before
						content ''
						position absolute
						width 9px
						height 9px
						background #ad9f80
						transform rotate(45deg)
						top calc(50% - 5px)
						box-shadow 0 0 65px #ebbc95
						opacity 0
						transition all 0.3s linear
					&:before
						left -33px
					&:after
						right -33px
					&:hover
						&:after
						&:before
							opacity 1




.services_area
	position relative
	.services_area_in
		display flex
		flex 1
		//min-height 800px
		flex-direction column
	.services_item

		.services_item_in
			//outline 1px dashed rgba(white, 0.2)
			display flex
			color white
			align-items center
			flex 1
			justify-content space-between
			position relative
			flex-direction column
		.services_img
			//outline 1px dashed rgba(white, 0.2)
			width 100%
			height 100%
			display flex
			flex 1
			align-items center
			justify-content center
			img
				max-width 100%
				height auto
		//position asbolute
		.services_info
			display flex
			flex 1
			position absolute
			top 0
			left 0
			align-items center
			//outline 1px dashed rgba(red, 0.2)
			width 100%
			height 100%
			//align-items center
			justify-content center
			.service_info_in
				width wrapper
				justify-content space-between
				flex-direction row
				display flex
				margin-bottom 195px
		.services_title
			max-width 300px
			//outline 1px dashed rgba(yellow, 0.2)
			h3
				color #b2aeac
				font-family "Trajan"
				font-size 54px
				font-weight 400
				line-height 68px
			span
				opacity 0.2
				color #aca6a6
				//font-family "Museo Sans Cyrl -700"
				font-size 12px
				//font-weight 400
				line-height 25.67px
				text-transform uppercase
				// Text style for "for guests"
				letter-spacing 3.62px
				margin-top 30px
				display block
		.services_title_adj
			//font-size 40px
			max-width 300px
			text-align right
			div
				color #b2aeac
				font-family "Trajan"
				font-size 60px
				font-weight 400
				line-height 79.47px
			span
				opacity 0.2
				color #ffffff
				//font-family "Museo Sans Cyrl -100"
				font-size 18px
				font-weight 100
				line-height 30px

	.services_links
		display flex
		flex-direction column
		position absolute
		bottom 50px
		left 0
		width 100%
		height 175px
		z-index 30
		.services_links_line
			position relative
			height 50px
			//outline 1px dashed rgba(white, 0.2)
			&:before
				content ''
				width 100%
				height 1px
				position absolute
				top 50%
				left 0
				background rgba(#fff, 0.1)
		.services_links_list
			display flex
			justify-content space-between
			height 175px
			flex-direction row
			margin-top -12px
			.slick-list
			.slick-track
				//display flex
				justify-content space-between
				height 115px
				flex-direction row


			.slick-track
				//width 100% !important
				display flex
				//transform none !important
				.item
					color rgba(#aca6a6, 0.4)
					position relative
					text-align center
					flex 5
					outline 0 !important
					cursor pointer
					font-size 10px
					font-weight 400
					line-height 25.67px
					text-transform uppercase
					// Text style for "book a hot"
					letter-spacing 3.02px
					padding-top 30px
					transition all 0.3s linear
					//outline 1px solid red
					&:first-child
						text-align left
						flex 3
						.square
							left 0
					&:last-child
						text-align right
						flex 3
						.square
							right 0
							left auto
					.square
						position absolute
						width 13px
						height 13px
						border 2px solid #656155
						box-sizing border-box
						transform rotate(-45deg)
						left calc(50% - 7px)
						top -19px
						background url("../img/bg.jpg")
						//outline 1px solid red
					&:hover
						color rgba(#aca6a6, 0.5)
						.square
							background rgba(#ad9f80, 1)
							border-color rgba(#ad9f80, 1)
							opacity 0.5
							box-shadow 0 0 100px  20px rgba(#ebbc95, 0.05)
							&:after
								content ''
								width 44px
								height 44px
								border 1px solid rgba(#ada8a6, 0.3)
								border-radius 50em
								position absolute
								top -18px
								left -18px
								box-sizing border-box
					&.slick-current
						color #aca6a6
						.square
							background #ad9f80
							border-color #ad9f80
							opacity 1
							box-shadow 0 0 100px  20px rgba(#ebbc95, 0.15)
							&:after
								content ''
								width 44px
								height 44px
								border 1px solid rgba(#ada8a6, 0.3)
								border-radius 50em
								position absolute
								top -18px
								left -18px
								box-sizing border-box




.events_area
	.events_area_in
		min-height 1140px
		display flex
		flex-direction column
		position relative
		z-index 3
		//align-items flex-start
		.wrapper
			position relative
			z-index 5
		.events_slider
			position relative
			//outline 1px dashed rgba(white, 0.2)
			//overflow hidden
			display flex
			justify-content flex-start
			flex 1
			flex-direction column
			.slide_item
				flex 1
				background-position top center
				background-repeat no-repeat
				height 1140px
				position relative
				.events_mask //only for mobile
					position absolute
					//z-index -1
					top 0
					left 0
					width 100%
					height 100%
					background url(../img/bg.jpg)
					opacity 0
					z-index 4
		.slider_miniatures_area
			margin-top 95px
			//width 200px
			color #fff
			position absolute
			top 0
			left 0
			.btn
				width auto
				margin-top 25px
		.slider_miniatures
			height 550px
			display flex
			overflow auto
			flex-direction column
			width 215px
			.slick-arrow
				text-align center
				padding 10px 0
				cursor pointer
				transition all 0.3s linear
				&:hover
					background rgba(255,255,255,0.02)
				//height 20px
				&.slick-prev
					margin-bottom 10px
					.icon:before
						transform rotate(90deg)
						//display inline-block
				&.slick-next
					margin-top 10px
					.icon:before
						transform rotate(-90deg)
						//display block
			.item
				min-height 185px
				outline 0
				cursor pointer
				//outline 1px dashed rgba(white, 0.2)
				> *
					transition all 0.3s linear
				.date
					opacity 0.22
					color #ffffff
					font-family "Trajan"
					font-size 36px
					font-weight 400
					display flex
					align-items flex-start
					span
						font-size 16px
						margin-left 10px
						opacity 0.3
				.type
					opacity 0.1
					color #ffffff
					font-size 14px
					font-weight 100
					line-height 22.55px
					margin-top 5px
				.title
					opacity 0.22
					color #ffffff
					font-family "Trajan"
					font-size 16px
					font-weight 400
					line-height 26px
					margin-top 10px
				.subdate
					//opacity 0.5
					color #ffffff
					//font-family "Trajan"
					font-size 18px
					font-weight 100
					line-height 26px
					margin-top 10px
					opacity 0
					transition all 0.3s linear
				&.slick-current
					.date
						opacity 1
						span
							opacity 0.3
					.type
						opacity 0.3
					.title
						opacity 1
					&:hover
						.date
							opacity 1
							span
								opacity 0.3
						.type
							opacity 0.3
						.title
							opacity 1
				&:hover
					.date
						opacity 0.5
						span
							opacity 0.3
					.type
						opacity 0.3
					.title
						opacity 0.5
			.slick-list
				//overflow visible
				//height auto !important


		.slide_content
			margin 90px 0 0 300px
			//outline 1px solid red
			min-height 520px
			display flex
			//justify-content space-between
			flex-direction column
			.date
				color #ffffff
				font-family "Trajan"
				font-size 54px
				font-weight 400
				margin-bottom 20px
				//display flex
				//align-items flex-start
				.sdate
					display flex
					align-items flex-start
				span
					opacity 0.3
					font-size 20px
					font-weight 400
					line-height 24px
					margin-left 7px
				.subdate
					margin-top 30px
					opacity 0.2
					color #ffffff8
					font-family "Museo"
					font-size 16px
					font-weight 100
					line-height 26px
			.type
				opacity 0.3
				color #fcfcfc
				font-family "Museo"
				font-size 12px
				font-weight 400
				line-height 17.06px
				text-transform uppercase
				// Text style for "l, ive mus"
				letter-spacing 4.75px
				margin-top auto
			.title
				color #ffffff
				font-family "Trajan"
				font-size 54px
				font-weight 400
				margin-top 30px
				line-height 68px
			.desc
				opacity 0.2
				color #ffffff
				//font-family "Museo Sans Cyrl -300"
				font-size 16px
				font-weight 100
				line-height 26px
				margin-top 25px

.news_area
	margin-top -250px
	margin-bottom 160px
	position relative
	z-index 5
	.news_area_in
		display grid
		min-height 760px
		grid-template-columns repeat(3, 1fr)
		grid-gap 9px
		.news_item
			//border 1px dashed rgba(white, 0.2)
			color #fff
			border-radius 10px
			display grid
			align-content space-between
			grid-template-columns auto
			padding 55px 58px 40px
			box-shadow 0 0 163px 3px rgba(black, 0.3)
			*
				//outline 1px dashed rgba(yellow, 0.2)
				//width 100%
			.news_time
				color #ffffff
				//font-family "Museo Sans Cyrl -700"
				font-size 12px
				font-weight 400
				line-height 26px
				text-transform uppercase
				// Text style for "Every Tues"
				letter-spacing 3.12px
				.icon
					margin-right 20px
			.news_prize
				min-height 276px
				width 203px
				border 37px solid rgba(white, 0.0)
				border-image url(../img/border.svg) 37 repeat
				display flex
				flex-direction column
				align-items center
				justify-content space-between
				.prize_fund
					opacity 0.9
					color #ffffff
					//font-family "Museo Sans Cyrl -700"
					font-size 12px
					font-weight 400
					line-height 17.06px
					text-transform uppercase
					// Text style for "p, rize fu"
					letter-spacing 4.94px
				.fund
					color #ffffff
					font-family "Trajan"
					font-size 30px
					font-weight 400
					line-height 39.14px
					text-align center
			.news_title
				//font-size 50px
				overflow hidden
				padding-right 15px
				height auto
				color #ffffff
				font-family "Trajan"
				font-size 54px
				font-weight 400
			.news_subtitle
				color #ffffff
				//font-family "Museo Sans Cyrl -100"
				font-size 16px
				font-weight 100
				line-height 26px
		.news_item_1
		.news_item_2
		.news_item_3
			background-size cover
		.news_item_1
			background-image url("../img/loter_1.jpg")
		.news_item_2
			background-image url("../img/loter_2.jpg")
		.news_item_3
			background-image url("../img/loter_3.jpg")

		.news_item_v
			grid-row-start 1
			grid-row-end 3
		.news_item_h
			grid-column-start 2
			grid-column-end 4
			grid-template-column auto 203px
			.news_prize
				order 10
				grid-row-start 1
				grid-row-end 5
				grid-column-start 2
				grid-column-end 3
				justify-self: end;

.features_area
	margin-top 0
	.news_area_in
		// display grid
		min-height 1400px
		// grid-template-columns repeat(3, 1fr)
		// grid-gap 9px
		.news_item
			align-content center
			position relative
			> *
				z-index 2
			&:before
				content ""
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				background rgba(#000, 0)
				z-index 0
			.hotel_features
				text-align center
				display flex
				ul

					display flex
					flex 1
					flex-direction column
					justify-content space-around
					padding 40px 0
					li
						font-size 10px
						text-transform uppercase
						line-height 27px
						position relative
						letter-spacing 3px
						&.square
							width 13px
							height 13px
							border 2px solid #656155
							box-sizing border-box
							transform rotate(-45deg)
							// left calc(50% - 7px)
							// bottom -19px
							margin 0 auto


			.news_subtitle
				margin 25px 0
			&.news_item_v
				align-content flex-end
				padding-bottom 90px
				grid-row-start 2
				grid-row-end 4
			&.news_item_h
				grid-column-start 2
				grid-column-end 4
				// grid-template-column auto 203px
			&.news_item_full
				// grid-row-start 1
				// grid-row-end 1
				grid-column-start 1
				grid-column-end 4
				min-height 535px
				position relative
				overflow hidden
				background-position-x right
				padding-left 440px
				.icon
					margin-bottom 50px
					margin-top 40px
				.hotel_features
					position absolute
					top 0
					left 0
					width 370px
					background #1d1817
					height 100%
			&.news_item_0
				background-image url("../img/feat_1.jpg")
				background-repeat no-repeat

			&.news_item_1
				background-image url("../img/feat_2.jpg")
			&.news_item_2
				background-image url("../img/feat_3.jpg")
			&.news_item_3
				background-image url("../img/feat_4.jpg")


.about_area
	background url(../img/about_bg.jpg) top center no-repeat
	position relative
	.about_area_mask
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background url(../img/bg.jpg)
		z-index 2
		opacity 0
	.about_area_in
		display flex
		flex 1
		min-height 1500px
		flex-direction column
		position relative
		z-index 3
	.about_info
		height 780px
		display grid
		grid-template-columns 1fr 1fr
		padding 120px 0 0
		//outline 1px dashed rgba(white, 0.2)
		.item
			width 150px
			height 290px
			//outline 1px dashed rgba(white, 0.7)
			display flex
			align-items center
			justify-content space-around
			flex-direction column
			color #fff
			&.lt
				justify-self start
			&.rt
				justify-self end
			&.lb
				justify-self start
				align-self end
			&.rb
				justify-self end
				align-self end
			.about_num
				color #b4b3ac
				font-family "Trajan"
				font-size 120px
				font-weight 400
				//line-height 476.56px
			.about_tit
				color #ffffff
				font-family "Trajan"
				font-size 24px
				font-weight 400
				line-height 36px
				text-align center
			.square
				box-shadow 0 0 65px #ebbc95
				background-color #ad9f80
				width 9px
				height 9px
				transform rotate(-45deg)
			.about_desc
				color #9d8f84
				//font-family "Museo Sans Cyrl -100"
				font-size 18px
				font-weight 100
				line-height 27px
				text-align center
	.about_title
		text-align center
		color #b2aeac
		font-family "Trajan"
		font-size 44px
		font-weight 400
		line-height 55px
		margin-top 45px
	.play_vid
		opacity 0.2
		color #aca6a6
		font-family "Museo"
		font-size 12px
		font-weight 400
		line-height 25.67px
		text-transform uppercase
		text-align center
		letter-spacing 3.62px
		margin-top 20px

	.play_button_area
		display flex
		justify-content center
		//padding 50px 0
		//outline 1px dashed rgba(white, 0.2)
		.play_button
			background #ffffff
			border-radius 50em
			width 100px
			height 100px
			border 8px solid #b4b3ac
			display flex
			align-items center
			justify-content center
			cursor pointer
			box-shadow 0 0 208px rgba(230, 158, 113, 0.96)
			transition all 0.3s linear
			margin-top 25px
			&:hover
				box-shadow 0 0 208px 10px rgba(230, 158, 113, 1)


.about_area_mobile
	background url(../img/about_bg_mobile.jpg) center -80px no-repeat
	.about_area_in
		//display grid
		flex 1
		min-height 1000px
		flex-direction column
	.about_info
		height 780px
		display grid
		grid-template-columns 1fr 1fr
		padding 230px 0 0
		//outline 1px dashed rgba(white, 0.2)
		.item
			width 150px
			height 290px
			//outline 1px dashed rgba(white, 0.7)
			display flex
			align-items center
			justify-content space-around
			flex-direction column
			color #fff
			&.lt
				justify-self start
			&.rt
				justify-self end
			&.lb
				justify-self start
				align-self end
			&.rb
				justify-self end
				align-self end
			.about_num
				color #b4b3ac
				font-family "Trajan"
				font-size 120px
				font-weight 400
			//line-height 476.56px
			.about_tit
				color #ffffff
				font-family "Trajan"
				font-size 24px
				font-weight 400
				line-height 36px
				text-align center
			.square
				box-shadow 0 0 65px #ebbc95
				background-color #ad9f80
				width 9px
				height 9px
				transform rotate(-45deg)
			.about_desc
				color #9d8f84
				//font-family "Museo Sans Cyrl -100"
				font-size 18px
				font-weight 100
				line-height 27px
				text-align center


.games_slider_area
	margin-top 150px
	.games_slider_in
		min-height 500px
		//outline 1px solid rgba(green, 0.2)
		display flex
		flex-direction column
		.games_slider
			//outline 1px solid rgba(white, 0.2)
			flex 1
			color #fff
			display flex
			flex-direction column
			.games_item
				//border 1px solid rgba(white, 0.2)
				display flex
				flex 1
				min-height 500px
				outline 0 !important

				.item_left
					flex 2
					display flex
					flex-direction column
					//justify-content space-between
					.title
						color #ffffff
						font-family "Trajan"
						font-size 80px
						font-weight 400
						line-height 88.74px
						// Text style for ""
						letter-spacing -1.48px
					.desc
						opacity 0.3
						color #ffffff
						//font-family "Museo Sans Cyrl -100"
						font-size 18px
						font-weight 100
						line-height 31px
						margin-top 40px
					.button
						display inline-block
						margin-top 40px

				.item_right
					flex 3
					.roulette
					.slots
						text-align center
						position relative
						img
							max-width 100%
							height auto
					.roulette
						img
							position: relative;
							top: -23px;
							left: -134px;
							max-width 120%
					.slots
						img
							position relative
							top -40px
					.table
						text-align center
						position relative
						img
							max-width 100%
							height auto
						.cards
							position absolute
							top 100px
							left 40px
							img
								max-width 465px
						.dices
							position absolute
							top 60px
							left 40px
							img
								max-width 407px
						.chips
							position absolute
							top 0
							left 0
							img
								max-width 641px
		.games_miniatures_area
			//outline 1px solid rgba(red, 0.2)
			// display flex
			height 134px
			.games_miniatures_title
				opacity 0.2
				color #ffffff
				font-family "Trajan"
				font-size 24px
				font-weight 400
				line-height 36px
				width 200px
				//pad ding 20px 0
				display flex
				//justify-content center
				align-items center
				border-right 1px solid rgba(#fdfdf6, 1)
				//outline 3px solid red
				.slick-arrow
					transform: scale(2);
					padding-left 10px
				.g_slick-next
					transform: scale(2) rotate(180deg);
			.games_miniatures
				flex 1
				.item
					color #fff
					//outline 1px solid rgba(green, 0.2)
					flex 1
					//background rgba(white, 0.05)
					height 134px
					// width auto !important
					outline 0 !important
					display flex
					align-items center
					justify-content center
					flex-direction column
					cursor pointer
					border-radius 20px
					overflow hidden
					.icon
						filter grayscale()
						opacity 0.2
						transition all 0.3s linear
						cursor pointer
					.title
						margin-top 35px
						color #2d2b2b
						//font-family "Museo Sans Cyrl -700"
						font-size 12px
						font-weight 400
						line-height 15.18px
						text-transform uppercase
						letter-spacing 5.55px
						transition all 0.3s linear
						cursor pointer
					&:hover
						.icon
							filter grayscale(50%)
							opacity 0.5
						.title
							color rgba(#fff, 0.5)


				.slick-track
					// width 100% !important
					// display flex
					// transform none !important
					.slick-current
						.icon
							filter grayscale(0)
							opacity 1
						.title
							color #fff


.gallery_area
	margin-top 180px
	.gallery_area_in
		h2
			color #fcfcfc
			font-family "Trajan"
			font-size 54px
			font-weight 400
			text-align center
	.container
		width 100%
		//margin 0 auto
		ul
			&.tabs
				margin 40px 0 65px 0
				padding 0
				list-style none
				text-align center
				display flex
				align-items center
				justify-content center
				flex-wrap wrap
				li
					opacity 0.4
					color #fcfcfc
					//font-family "Museo Sans Cyrl -700"
					font-size 12px
					font-weight 400
					line-height 17.06px
					text-transform uppercase
					// Text style for "t, our 360"
					letter-spacing 4.94px
					padding 0 20px
					cursor pointer
					position relative
					margin-top 25px

					&.current
						//background #ededed
						opacity 1
						&:before
							content ''
							width calc(100% - 44px)
							bottom -8px
							left 20px
							height 2px
							background #fff
							position absolute
		.tab-content
			height 0px
			padding 0 15px
			overflow hidden
			&.current
				height auto


	.gallery
		color #fff
		display flex
		overflow hidden
		.slick-list
			//width 869px
			flex 1
			min-height 200px
			border-radius 20px
			overflow hidden
			//outline 1px solid red
			img
				max-width 100%
				height auto
			.item
				//border-radius 20px
				//overflow hidden
				opacity 0.9
				position relative
				.gallery_title
					position: absolute;
					top 0
					left 0
					background rgba(0, 0, 0, 0.3);
					width 100%
					height 100%
					display flex
					align-items: center;
					justify-content: center;
					span
						font-size 54px
						font-family: "Trajan"
						display flex
						align-items: center;
						text-align: center;
						&:before
						&:after
							content ""
							width 6px
							height 6px
							background: #ffffff
							transform: rotate(45deg);
							margin-right 30px
						&:after
							margin-right auto
							margin-left 30px
		.slick-arrow
			//background #fff
			align-self center
			height 72px
			width 72px
			cursor pointer
			border 2px solid #403627
			transform rotate(45deg)
			position relative
			box-sizing border-box
			opacity 0.9
			transition all 0.3s linear
			margin-left 15px
			&:hover
				opacity 1
			&:before
				content ''
				position absolute
				width calc(100% - 6px)
				height calc(100% - 6px)
				top 3px
				left 3px
				border 2px solid #403627
				box-sizing border-box
			span
				position absolute
				width 15px
				height 15px
				top calc(50% - 7px)
				left calc(50% - 6px)
				transform rotate(-45deg)
			&.slick-disabled
				opacity 0.5
				cursor default
		.slick-prev
			margin-right 60px
		.slick-next
			margin-left 60px
			margin-right 15px
			span
				transform rotate(135deg)
				left calc(50% - 8px)



.dots
	display flex
	align-items center
	margin-top 70px
	justify-content center
	.slick-dots
		display flex
		align-items center
		justify-content center
		li
			padding 32px 0
			//outline 1px solid green
			display flex
			align-items center
			justify-content center
			cursor pointer
			width 25px
			button
				overflow hidden
				text-indent -999999px
				width 5px
				height 5px
				transform rotate(45deg)
				border 0
				padding 0
				margin 0 5px
				background #ad9f80
				opacity 0.3
				outline 0 !important
				transition opacity 0.3s linear
				cursor pointer
				//outline 1px solid red
			&:hover
				button
					opacity 0.6
					//width 7px
					//height 7px
					box-shadow 0 0 65px rgba(#ebbc95, 0.5)
			&.slick-active
				button
					opacity 1
					width 7px
					height 7px
					box-shadow 0 0 65px #ebbc95
.gallery_page
	.gallery
		.slick-arrow
			width 50px
			height 50px
.gallery_desc
	font-size 16px
	color #ffffff
	text-align: center;
	margin-top 50px
	opacity 0.4
	line-height: 31px
	font-weight 100


.contact_area
	.wrapper
		position relative
	.contact_area_bg
		min-height 983px
		background url(../img/map.jpg)
		position absolute
		top -220px
		left -150px
		z-index -1
		width 100%
	.contact_area_in
		//outline 1px solid red
		margin-top 50px
		display flex
		position relative
		z-index 2
		min-height 550px
		.contact_left
			flex 2
			position relative
			display flex
			align-items flex-end
			.m_title
				color #eadddc
				font-family "Trajan"
				font-size 44px
				font-weight 400
				line-height 1.3em
			.info
				display flex
				width 300px
				div
					margin-right 55px
					&:last-child
						margin-right 0
					.icon
						height 70px
				span.title
					color #ffffff
					//font-family "Museo Sans Cyrl -700"
					font-size 12px
					font-weight 400
					line-height 28px
					text-transform uppercase
					// Text style for "in the hea"
					letter-spacing 3px

		.contact_right
			flex 1
			display flex
			justify-content flex-end
			flex-direction column
			.title
				color #eadddc
				font-family "Trajan"
				font-size 44px
				font-weight 400
				line-height 1.3em
			.phone
				color #ffffff
				font-family "Trajan"
				font-size 24px
				font-weight 400
				line-height 31px
				margin-top 50px
			.email
				margin-top 25px
				a
					color #878383
					font-size 16px
					font-weight 100
					line-height 31px
					transition all 0.3s linear
					&:hover
						color rgba(#fff, 0.8)
			.button
				margin-top 35px
		.address
			color #ffffff
			font-family "Trajan"
			font-size 24px
			font-weight 400
			line-height 38px
			position absolute
			top 211px
			left 380px
			span
				color #b1a486
				margin-left 10px
			div
				color #878383
				font-family "Museo"
				font-size 10px
				font-weight 400
				line-height 24px
				text-transform uppercase
				letter-spacing 3.02px
				margin-top 10px


section.enjoy_moments
	min-height 915px
	background url(../img/enjoy_moments_bg.jpg) no-repeat top center
	margin-bottom 100px
	margin-top -40px
	display flex
	.wrapper
		display flex
		outline 1px solid red
		flex-direction column
		flex 1
	.enjoy_moments_area
		display flex
		flex 1
		align-items center
		// align-content: flex-end;
		justify-content flex-end
		flex-direction column
		padding-bottom 50px
		.enjoy_moments_title
			font-size 70px
			line-height 100px
			color #fff
			font-family "Trajan"
			text-align center
			opacity 0.7
		.enjoy_moments_slogan
			font-size 18px
			color #fff
			text-align center
			opacity 0.4
			font-weight 100
			margin-top 20px


section.mountains
	min-height 1045px
	background url(../img/mountains.jpg) no-repeat top center
	.mountains_area
		text-align center
	.georgia
		margin 265px auto 0
		display inline-block
		user-select none
		span
			display block
			color #fff
			margin 0 0 20px 240px
			font-family "Trajan"
			opacity 0.4
			font-size 24px
			text-align left
		img
			max-width 100%
			height auto
		.cities
			margin-top 10px
.get_in_touch
	background #181616
	padding 100px 100px 110px 100px
	border-radius 20px
	margin-top 150px
	box-shadow 0  24px 152px 14px rgba(#000, 0.28)
	display flex
	color #fff
	text-align left
	justify-content space-between

	// min-height: 700px

	.get_in_touch_info
		display flex
		flex-direction column
		justify-content space-between
		flex 1
	.get_in_touch_title
		font-size 54px
		font-family "Trajan"
		line-height 70px
	.get_in_touch_subtitle
		font-size 16px
		margin-top 25px
		opacity 0.5
		font-weight 100
	.social_item_p
		margin-top 50px
		.social_title
			font-size 10px
			opacity 0.4
			font-weight 100
			text-transform uppercase
			letter-spacing 3px
		.social_number
			font-size 24px
			font-family "Trajan"
			margin-top 24px
			// font-weight 100
		&.first-child
			margin-top 0

	.touch_form
		flex 1
		.touch_title
			font-size 24px
			font-family "Trajan"
			line-height 33px
		.touch_form_top
			margin-top 40px
			display flex
			// margin-bottom 10px
			.touch_form_item
				flex 1
				display flex
				flex-direction column
				margin-right 60px
				&:last-child
					margin-right 0
				label
					font-size 10px
					opacity 0.4
					font-weight 100
					text-transform uppercase
					letter-spacing 3px
					margin-bottom 10px
				input
					height 41px
					line-height 41px
					border none
					border-bottom 1px solid #464545
					background transparent
					color #fff
					font-size 16px
					font-weight 100

					&::placeholder
						color #878383
						font-size 16px
						font-weight 100
		.touch_textarea
			margin-top 60px
			display flex
			margin-bottom 30px
			flex-direction column
			label
				font-size 10px
				opacity 0.4
				font-weight 100
				text-transform uppercase
				letter-spacing 3px
				margin-bottom 10px
			textarea
				// height 41px
				line-height 20px
				border none
				border-bottom 1px solid #464545
				background transparent
				color #fff
				font-size 16px
				font-weight 100
				height 100px
				resize vertical
				&::placeholder
					color #878383
					font-size 16px
					font-weight 100
.contact_form
	position relative
	z-index: +1
	.contact_form_area
		.get_in_touch
			margin-top 40px
			padding 0
			overflow hidden
			.about_casino
				width 420px
				background #cabbaf url(../img/about_casino.png) bottom no-repeat
				background-size contain
				padding 70px 50px 60px 50px
				color #6e5e53
				.about_casino_title
					font-size 54px
					font-family "Trajan"
				.about_casino_desc
					margin-top 45px
					font-size 16px
					line-height 30px
			.touch_form
				padding 100px 80px 100px 150px

.header_conatcts_area
	.btn.book
		display none


.contacts_header
	margin-top 110px
	position relative
	.map_address
		position absolute
		top 160px
		right 90px
		div
			color #fff
			font-size 24px
			line-height 35px
			font-family "Trajan"
		.btn
			margin-top 30px
		a
			display block
			margin-top 35px
			color #fff
			opacity 0.4
			font-weight 100
			&:hover
				opacity 0.6
	.contacts_info
		.contacts_info_title
			font-size 70px
			color #e3d6cb
			line-height 90px
			font-family "Trajan"
		.contacts_info_contacts
			margin-top 100px
			color #fff
			.contact_info_item_area
				display flex
				width 650px
				justify-content: space-between;
				margin-top 65px
				&:first-child
					margin-top 0
				.contacts_info_item
					// outline 1px solid red !important
					flex 1
					.contacts_info_item_title
						font-size 10px
						opacity 0.4
						font-weight 100
						text-transform uppercase
						letter-spacing 3px
					.contacts_info_item_n
						font-size 24px
						font-family "Trajan"
						margin-top 24px
						a
							font-size 16px
							color #ffffff
							font-family "Museo"
							font-weight 100
							top -10px
							position relative


section.try_gaming
	background url(../img/hands.jpg) top center no-repeat
	min-height 975px
	display flex
	margin-bottom -270px
	padding-bottom 80px
	box-sizing: border-box;
	.wrapper
		display flex
		flex 1
	.try_gaming_area
		text-align center
		flex 1
		display flex
		flex-direction column
		align-items center
		justify-content center
		color #fff
		.try_gaming_area_title
			font-size 54px
			font-family: "Trajan";
			line-height 70px
		.try_gaming_area_desc
			margin-top 15px
			font-ize 16px
		.btn
			margin-top 25px


.way_area
	.way_area_in
		margin-top 200px
		min-height 850px
		position relative
		.way_title
			color #b2aeac
			font-size 54px
			font-family: "Trajan";
			line-height: 1.3
		.way_desc
			color #fff
			opacity 0.44
			font-size 16px
			line-height: 31px
			margin-top 25px
		.flight_area
			position absolute
			top 0
			right 0
			width 270px
			.flight_title
				color #fff
				font-size 10px
				text-transform: uppercase;
				letter-spacing: 2px
				margin-bottom 5px
			.flight_item
				color #fff
				margin-top 25px
				display flex
				align-items: center;
				span:not(.icon)
					opacity 0.4
					font-weight 100
				.icon
					margin 0 20px
					&.reverse
						transform: rotate(180deg);
		.wishes_area
			position absolute
			right 0
			bottom 100px
			color #fff
			width 270px
			.wishes_title
				font-size 24px
				line-height 1.30
				font-family: "Trajan"
			.wishes_desc
				margin-top 20px
				font-size 16px
				opacity 0.4
				font-weight 100
			.btn
				margin-top 25px


		.way_t
			width 700px
			height 850px
			position absolute
			top 0
			left 150px
			.fishki
				position absolute
				left -83px
				top 486px
				width 276px
				height 240px
				background url(../img/fishki.png) top center no-repeat
				z-index 2
			.way
				position absolute
				// outline 1px dotted rgba(white, 0.05) !important
				span
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					opacity 0.1
					filter grayscale(100%)
					transition all 0.2s linear
				.plane
					position absolute
					width 18px
					height 18px
					// opacity 0.1
					background: url(../img/blackplane.svg);
				.square
					position: absolute;
					width: 13px;
					height: 13px;
					border: 2px solid #625e52;
					box-sizing: border-box;
					transform: rotate(-45deg);
					background: url(../img/bg.jpg);
					transition all 0.4s linear
				.title
					color #fff
					position absolute
					line-height 27px
					letter-spacing: 2px
					font-size 10px
					text-transform: uppercase;
					width 210px
					// outline 1px dotted rgba(white, 0.1) !important
				&:hover
				&.hover
					span
						opacity 1
						filter grayscale(0%)
					.square
						background: #ad9f80
						border-color: #ad9f80
						opacity: 0.5;
						box-shadow: 0 0 100px 20px rgba(235,188,149,0.3);
						&:after
							content: '';
							width: 44px;
							height: 44px;
							border: 1px solid rgba(173,168,166,0.3);
							-webkit-border-radius: 50em;
							border-radius: 50em;
							position: absolute;
							top: -18px;
							left: -18px;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;

			.way_1
				width 207px
				height 280px
				left 430px
				top 0
				span
					background url(../img/way_1.svg) top right no-repeat
				.square
					bottom 10px
					right 32px
				.plane
					top 20px
					right -35px
					transform: rotate(180deg);
				.title
					bottom -30px
					right -230px

			.way_2
				width 95px
				height 55px
				left 494px
				top 285px
				span
					background url(../img/way_2.svg) top right no-repeat
				.square
					top 17px
					left 8px
				.title
					bottom -90px
					left 0
			.way_3
				width 230px
				height 155px
				left 253px
				top 260px
				z-index 2
				span
					background url(../img/way_3.svg) top right no-repeat
				.square
					top 114px
					left 9px
				.title
					width 150px
					bottom -60px
					left 0
			.way_4
				width 292px
				height 423px
				top 350px
				left -19px
				span
					background url(../img/way_4.svg) top left no-repeat
				.square
					bottom 31px
					right 14px
				.title
					bottom -50px
					right 0px
					width 150px
					text-align right
			.way_5
				width 190px
				height 107px
				top 634px
				left 278px
				span
					background url(../img/way_5.svg) bottom left no-repeat
				.square
					top 22px
					right 3px
			.way_6
				width 195px
				height 155px
				top 662px
				left 484px
				span
					background url(../img/way_6.svg) top left no-repeat
				.square
					display none
				.plane
					right -7px
					bottom 25px
				.title
					top -90px
					left -30px


.about_gallery_area
	overflow-x hidden
	// overflow-y: visible;
	outline 1px solid red
	.about_gallery_in
		display flex
		// align-items: center;
		position relative
		.p_roulette
			width 685px
			height 394px
			position absolute
			top -245px
			left -290px
			background url("../img/p_roulette.png") no-repeat
		.p_fishki
			width 374px
			height 298px
			position absolute
			top -160px
			right -290px
			background url("../img/p_fishki.png") no-repeat
		.about_gallery_wrap
			overflow hidden
			flex 5
			.about_gallery
				border-radius 10px
				overflow hidden
				opacity 0.7
				img
					width 100%
					height auto
				// box-shadow: 0 0 114px 21px rgba(0,0,0,0.43)
			.nav
				display flex
				align-items center
				justify-content center
				margin-top 55px
				.dots
					margin-top 0
				.about_gallery_prev
				.about_gallery_next
					cursor pointer
					.icon
						display block
				.about_gallery_prev
					margin-right 40px
				.about_gallery_next
					margin-left 40px
					.icon
						transform: rotate(180deg);
						display block


		.about_gallery_text
			color #b2aeac
			margin-left 100px
			flex 3
			margin-right 70px
			box-sizing: border-box;
			margin-bottom 155px
			.title
				font-size 54px
				line-height 74px
				font-family: "Trajan"
				margin-top 40px
			.desc
				font-size 16px
				line-height: 31px
				color #ffffff
				opacity 0.7
				margin-top 25px
				font-weight 100
	&.about_gallery_area_right
		.about_gallery_text
			order -1
			margin-left 0
			margin-right 140px


.quote_area
	margin 115px 0 200px
	.quote_area_in
		position relative
		.p_hands
			width 676px
			height 458px
			background: url(../img/p_hands.png) no-repeat
			position absolute
			left -370px
			top -100px

		.p_cube
			width 330px
			height 317px
			background: url(../img/p_cube.png) no-repeat
			position absolute
			right -25px
			top -230px
		.quote
			text-align: center;
			font-size 24px
			line-height: 50px
			font-family: "Trajan"
			color #b2aeac
			position: relative
			&:before
				content "“"
				position absolute
				top -70px
				left 50%
				margin-left: -35px
				width 70px
				text-align center
				color #fff
				font-size 130px
				font-family "Times New Roman"
			&:after
				content ""
				position absolute
				width 136px
				height 2px
				background: #fff
				bottom -50px
				left 50%
				margin-left: -68px
	&.inverse
		.quote_area_in
			.quote
				// outline 1
				&:before
					top auto
					bottom -110px
					content "“"
				&:after
					bottom auto
					top -40px

.events_w_area
	.events_w_area_title
		font-size: 54px;
		line-height: 74px;
		font-family: "Trajan";
		margin-top: 40px;
		text-align center
		color #b2aeac
		margin-top 120px
		margin-bottom 60px
	.events_w_in
		display flex
		.events_w_item
			color #fff
			background #181616
			outline 1px solid red
			margin 0 7px
			border-radius 10px
			overflow hidden
			position relative
			min-height 440px
			flex 1
			padding 50px 30px 60px
			align-items: center;
			justify-content: flex-end;
			display flex
			flex-direction: column;
			box-shadow 0 0 70px 10px rgba(black, 0.1)
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			.events_w_bg
				position absolute
				z-index 1
				top 0
				left 0
				width 100%
				height 100%
				user-select none
				background-size cover
				background-position: top center
			.events_w_title
				position relative
				z-index 2
				text-align center
				font-size 24px
				line-height: 38px
				font-family: "Trajan"
			.events_w_cat
				position relative
				z-index 2
				opacity 0.4
				font-size 12px
				line-height 17px
				margin-top 25px
				letter-spacing: 3px
				text-transform: uppercase
				font-weight 100
			.btn
				z-index 2
				margin-top 25px



.about_footer_area
	min-height 1166px
	background: url(../img/about_footer.jpg) top center no-repeat
	margin-bottom -480px
	display flex
	flex-direction: column;

	.wrapper
		display flex
		flex 1
	.about_footer_in
		flex 1
		color #fff
		display flex
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-bottom 300px

		.about_footer_title
			text-align: center;
			font-size 54px
			font-family "Trajan"
			line-height: 74px
		.about_footer_desc
			font-size 16px
			line-height: 31px
			opacity 0.6
			margin-top 35px
			text-align center
		.btn
			margin-top 45px




.footer_area
	position relative
	z-index 2
	footer
		margin 130px 0 120px
		border-top 1px solid rgba(white, 0.1)
		display flex
		padding-top 70px
		.social
			color white
			display flex
			width 300px
			margin-top 25px
			.item
				background #403f3f
				width 30px
				height 30px
				text-decoration none
				border-radius 50em
				display flex
				align-items center
				justify-content center
				margin-right 15px
				transition all 0.3s linear
				&:hover
					background #c6bfb2
		> div
			flex 1
			display flex
			flex-direction column
			justify-content flex-end
			//outline 1px solid red
		.footer_left
			.footer_links
				display flex
				justify-content space-between
				a
					opacity 0.4
					color #ffffff
					//font-family "Museo Sans Cyrl -700"
					font-size 12px
					font-weight 400
					line-height 36px
					text-transform uppercase
					// Text style for "h, omepage"
					letter-spacing 4.75px
					transition all 0.3s linear
					&:hover
						opacity 0.8
			.cop
				color #3e3c3c
				//font-family "Museo Sans Cyrl -100"
				font-size 14px
				font-weight 100
				line-height 31px
				margin-top 60px
		.footer_center
			display flex
			flex-direction column
			align-items center
			//justify-content center
			//align-content center
			.phone
				color #ffffff
				font-family "Trajan"
				font-size 24px
				font-weight 400
				line-height 23.95px
				margin-top 35px
			.address
				margin-top 30px
				color #878383
				//font-family "Museo Sans Cyrl -100"
				font-size 16px
				font-weight 100
				line-height 30px
				text-align center
		.footer_right
			display flex
			flex-direction column
			align-items flex-end
			.cop
				color #3e3c3c
				//font-family "Museo Sans Cyrl -100"
				font-size 14px
				font-weight 100
				line-height 20px
				margin-top 60px
			.subscribe_area
				.subscribe_title
					color #878383
					//font-family "Museo Sans Cyrl -700"
					font-size 12px
					font-weight 400
					line-height 36px
					text-transform uppercase
					letter-spacing 4.75px
				.subscribe_input
					border 2px solid rgba(#aaa19a, 0.3)
					width 300px
					height 51px
					display flex
					align-items center
					margin-top 15px
					input
						background transparent
						width calc(100% - 40px)
						height 49px
						border 0
						box-sizing border-box
						color #9b9999
						font-size 16px
						outline 0 !important
						padding 0 20px
						&::placeholder
							color #3e3c3c

			.footer_bottom
				display flex
				//outline 1px solid red
				width 300px
				justify-content space-between
				align-items center
				margin-top 25px
				.email
					a
						color #878383
						//font-family "Museo Sans Cyrl -100"
						font-size 14px
						font-weight 100
						line-height 32px
						transition all 0.3s linear
						&:hover
							color rgba(#fff, 0.8)
				.terms
					//a
					color #3e3c3c
					//font-family "Museo Sans Cyrl -100"
					font-size 14px
					font-weight 300
					line-height 32px
					transition all 0.3s linear
					&:hover
						color #9b9999




.hide
	display none !important







#winSize
	position: fixed;
	bottom: 5px;
	left: 5px;
	background: rgba(0,0,0,0.6);
	padding: 0 5px;
	color: #fff;
	font-size: 14px;
	z-index: 9999;

//scroll custom
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail
	background-color rgba(#fff, 0.1)
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	position relative
	width 14px
	height 14px
	border 2px solid #ad9f80
	box-sizing border-box
	transform rotate(-45deg)
	//left calc(50% - 6px)
	//top -31px
	background #ad9f80 !important
	opacity 1
	box-shadow 0 0 50px  20px rgba(#ebbc95, 0.05)
	transition all 0.3s linear
	//right -72px
	border-radius 0
	&:hover
	&:active
		background #ad9f80
		box-shadow 0 0 50px  20px rgba(#ebbc95, 0.20)
	&:after
		content ''
		width 44px
		height 44px
		border 1px solid rgba(#ada8a6, 0.3)
		border-radius 50em
		position absolute
		top -17px
		left -17px
		box-sizing border-box

.mCSB_scrollTools
	opacity 1




//buttons
.btn
	color #ffffff
	font-size 12px
	font-weight 400
	line-height 17px
	text-transform uppercase
	letter-spacing 4.75px
	border 2px solid #8f694c
	padding 18px 14px
	user-select none
	display inline-block
	transition all 0.3s ease-in-out
	background transparent
	&:hover
		border-color #966847
		background-color #966847
	&:active
		border-color #ae9f80
		background-color #ae9f80

// 404 page
.video_bg
	position absolute
	top 0
	left 0
	width 100%
	height 100vh
	overflow hidden
	.img_bg
		background: url(../img/page_404_bg.jpg)
		background-size: cover
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
		display none
	video
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
.page_404_header
	.page_404
		display flex
		flex-direction column
		align-items center
		justify-content: center;
		flex 1
		margin-top 50px
		img
			// margin-left -85px
			max-width 100%
			height auto
			// margin-top -100px
			&.img_404_m
				display none
		.page_404_content
			display flex
			flex-direction column
			align-items center
			justify-content: center;
			margin-top -95px
			z-index 2
			position relative
			flex 1
		.page_404_desc
			color #ffffff
			font-size 18px
		.btn
			margin-top 30px
			// margin-bottom 40px
		.page_404_links
			display flex
			margin-top 80px
			margin-bottom 45px
			span
				font-size 14px
				color #fff
				opacity 0.7
				margin-right 40px
			a
				color #fff
				font-size 14px
				opacity 0.4
				text-transform uppercase
				margin 0 10px



//events page
.header_events
	> .wrapper
		position relative
		z-index 4
.events_page_area
	.events_page_slider
		.slide_item
			background-position top center
			background-repeat no-repeat
	.event_page_content
		min-height 1140px
		display flex
		flex-direction column
		justify-content: space-around;
		align-items: center
		margin-top 300px
		padding-bottom 700px
		box-sizing: border-box;
		.event_page_title
			font-size 70px
			color #f3ece1
			line-height: 1.3em
			font-family Trajan
			text-align center
		.event_page_date
			font-size 24px
			line-height: 1.3em
			font-family Trajan
			text-align center
			color #f3ece1
			font-weight 100


	.nav
		display flex
		align-items center
		justify-content center
		margin-top -650px
		z-index 2
		.dots
			margin-top 0
		.events_page_prev
		.events_page_next
			cursor pointer
			.icon
				display block
		.events_page_prev
			margin-right 40px
		.events_page_next
			margin-left 40px
			.icon
				transform: rotate(180deg);
				display block


.events_item
	margin-top -180px
	z-index 3
	position relative
	.events_items_in
		.container
			width 100%
			//margin 0 auto
		ul
			&.events_tabs
				margin 40px 0 65px 0
				padding 0
				list-style none
				text-align center
				display flex
				align-items center
				justify-content center
				flex-wrap wrap
				li
					opacity 0.4
					color #fcfcfc
					font-size 28px
					font-weight 400
					// line-height 17.06px
					// text-transform uppercase
					font-family Trajan
					// Text style for "t, our 360"
					letter-spacing 4.94px
					padding 0
					cursor pointer
					position relative
					// margin-top 25px
					flex 1
					opacity 0.1
					cursor: pointer;
					// outline 1px solid red !important
					height 70px
					transition: all 0.3s linear
					&:before
						content ''
						width 100%
						bottom 0px
						left 0px
						height 2px
						background #685543
						position absolute

					&.current
						opacity 1
						cursor default
						&:hover
							opacity 1
					&:hover
						opacity 0.2

		.tab-content
			height 0px
			// padding 0 15px
			overflow hidden
			// box-shadow 0 0 163px 3px rgba(0,0,0,0.3)
			&.current
				height auto


.events_items_area
	display grid
	// grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	// padding-top 100px
	.events_item_e
		// border 1px solid rgba(#fff, 0.1) !important
		color #fff
		padding 20px
		min-height 538px
		border-radius: 10px
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center
		// box-shadow 0 0 163px 3px rgba(0,0,0,0.3)
		display flex
		flex-direction column
		padding 50px 35px
		position relative
		overflow hidden
		.ei_mask
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			z-index 1
			background: linear-gradient(to bottom, rgba(38,35,34,0) 0%,rgba(38,35,34,1) 100%)
		.ei_date
			margin-bottom auto
			color: #fff;
			font-family: "Trajan";
			font-size: 46px;
			font-weight: 400;
			display flex
			align-items: flex-start;
			z-index 2
			span
				font-size 16px
				color #c6bfbf
				margin-left 10px
		.ei_title
			color: #fff;
			font-family: "Trajan";
			font-size: 36px;
			line-height: 1.3
			z-index 2
		.ei_desc
			margin-top 25px
			color #9e9a9a
			font-size 16px
			font-weight 100
			line-height: 1.7
			z-index 2
		&:nth-child(1)
			grid-column-start: span 2;
		&:nth-child(10n+7)
			grid-column-start: span 2;
		// 	background #fff
		&:nth-child(10n+11)
			grid-column-start: span 2;
		// 	background yellow
		 // &:nth-child(2n + 3)
			 // background red

.event_gallery_area_m
	margin-top -300px
