.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 16.3em 169.9em;
}

.no-svg .icon:before {
    background-image: url("../img/sprite.png");
}



  .icon.arrow:before {
      background-position: -2em -2em;
      width: 0.8em;
      height: 1.3em;
  }




  .icon.arrow_2:before {
      background-position: -2em -7.3em;
      width: 1.3em;
      height: 0.4em;
  }




  .icon.bacar:before {
      background-position: -2em -11.7em;
      width: 3.7em;
      height: 5.2em;
  }




  .icon.blackjack:before {
      background-position: -2em -20.9em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.blackplane:before {
      background-position: -2em -30.1em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.coin:before {
      background-position: -2em -35.9em;
      width: 3.5em;
      height: 3.5em;
  }




  .icon.dice:before {
      background-position: -2em -43.4em;
      width: 3.5em;
      height: 3.5em;
  }




  .icon.dollar:before {
      background-position: -2em -50.9em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.event:before {
      background-position: -2em -60.1em;
      width: 3em;
      height: 3.1em;
  }




  .icon.facebook:before {
      background-position: -2em -67.2em;
      width: 0.9em;
      height: 1.6em;
  }




  .icon.instagram:before {
      background-position: -2em -72.8em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.logo_footer:before {
      background-position: -2em -78.2em;
      width: 12.3em;
      height: 7.8em;
  }




  .icon.m_phone:before {
      background-position: -2em -90em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.mail:before {
      background-position: -2em -96.2em;
      width: 2.3em;
      height: 2.6em;
  }




  .icon.mercedes:before {
      background-position: -2em -102.8em;
      width: 3.4em;
      height: 2.5em;
  }




  .icon.play:before {
      background-position: -2em -109.3em;
      width: 1.2em;
      height: 1.4em;
  }




  .icon.poker:before {
      background-position: -2em -114.7em;
      width: 6.5em;
      height: 5em;
  }




  .icon.roulete:before {
      background-position: -2em -123.7em;
      width: 5.2em;
      height: 5.2em;
  }




  .icon.s_mail:before {
      background-position: -2em -132.9em;
      width: 2.2em;
      height: 1.7em;
  }




  .icon.slots:before {
      background-position: -2em -138.6em;
      width: 5em;
      height: 5.1em;
  }




  .icon.stars:before {
      background-position: -2em -147.7em;
      width: 9.4em;
      height: 1.4em;
  }




  .icon.tour:before {
      background-position: -2em -153.1em;
      width: 3.2em;
      height: 3em;
  }




  .icon.wacth:before {
      background-position: -2em -160.1em;
      width: 2.2em;
      height: 2.2em;
  }




  .icon.youtube:before {
      background-position: -2em -166.3em;
      width: 2.2em;
      height: 1.6em;
  }





