.footer_area
  .wrapper
    footer
      .footer_left
        .footer_links
          ul
            li: a(href="/") homepage
            li: a(href="#") games
            li: a(href="#") events
            li: a(href="gallery.html") gallery
          ul
            li: a(href="#") private rooms
            li: a(href="tours.html") gaming tour
            li: a(href="about.html") about casino
            li: a(href="contacts.html") contact casino
        .cop © 2019 Casino Ambasador.  All Rights Reserved.

      .footer_center
        span.icon.logo_footer
        .phone +995 322 112121
        .address
          |17 Shavteli str., 0105,
          br
          |Tbilisi, Georgia

      .footer_right
        .subscribe_area
          .subscribe_title subscribe
          .subscribe_input
            input(type="email", placeholder="Your email...")
            span.icon.s_mail
        .social
          a(href="#").item
            span.icon.facebook
          a(href="#").item
            span.icon.instagram
          a(href="#").item
            span.icon.youtube
        .footer_bottom
          .email
            a(href="mailto:info@ambasadori.casino") info@ambasadori.casino
          a(href="#").terms Terms of use
