// build:js js/vendor.js
script( defer, src='js/jquery-1.11.0.min.js')
script( defer, src='js/jquery-migrate-1.2.1.min.js')
script( defer, src='js/slick.min.js')
script( defer, src='js/jquery.fancybox.min.js')
// endbuild

//build:js js/common.js
script( defer, src="js/common.js")
//endbuild


// build:css css/vendor.css
link(rel="stylesheet",  href="css/slick.css")
link(rel="stylesheet",  href="css/fancybox.css")
// endbuild

// removeIf(app)
<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50931527 = new Ya.Metrika2({ id:50931527, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ut:"noindex" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> 


#winSize
 p
// endRemoveIf(app)
