header
  .header_left
    .menu_l
      .line_1
      .line_2
      .line_3
    .phone.hide +995 322 112 121
  .header_center
    a(href="#").logo
      img(src="img/logo.svg", alt="")
  .header_right
    .lang ru
      ul.lang_menu
        li
          |en
        li
          |en
    a(href="/contacts.html").book.btn Contact Us
    .m_phone.hide
      span.icon.m_phone
