meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Ambassadori


// build:css css/style.css
link(rel="stylesheet",  href="css/reset.css")
link(rel="stylesheet",  href="css/sprite.css")
link(rel="stylesheet",  href="css/slick.css")
link(rel="stylesheet",  href="css/fancybox.css")
link(rel="stylesheet",  href="css/style.css")
// endbuild



    
    
    

    
