.menu
  .line_1
  .line_2
  .line_3
.menu_area
  .big_logo
  .menu_area_in
    //.close Close
    //.lang ru
    ul
      li
        a(href="/")
          | home
      //li
        a(href="#")
          | games
      li
        a(href="events.html")
          | events
      //li
        a(href="#")
          | private rooms
      li
        a(href="about.html")
          | about
      li
        a(href="#")
          | games

      li
        a(href="#")
          | lotteries

      li
        a(href="tours.html")
          | tours

      li
        a(href="gallery.html")
          | gallery
      li
        a(href="contacts.html")
          | contact
