doctype html
html(lang='en')
  head
    include includes/_head

  body
    .video_bg
      .img_bg
      video(autoplay='', muted='', loop='', class='video_404')
        source(src='img/404.mp4')
          
          
    include includes/_menu


    section.header_area.page_404_header
      //- .header_area_mask_bg
      //- .header_area_bg
      //- .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .page_404
            img(src="img/404.png", class='img_404_d')
            img(src="img/404_m.png", class='img_404_m')
            .page_404_content  
              .page_404_desc
                |Oops! We can’t seem to find the page you’re looking for
              a(href="/contacts.html").book.btn Back to Home
              .page_404_links
                span Here are some helpful links instead
                ul
                  li
                    a(href="/") Home
                    a(href="events.html") Events
                    a(href="about.html") About
                    a(href="contacts.html") Contact
              
    
          
            
          

        
              
  
    

  
  
                            
              


    
    
    include includes/_foot
