doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_about
      .header_area_mask_bg
      .header_area_bg.headers_about_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .slogan
            h1 
              |CASINO
              br
              |IDEOLOGY
              
              
    section.about_gallery_area.mtm200
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_1
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_1
              
              .dots.dots_a1
              
          
          .about_gallery_text
            .title 
              |Casino 
              br
              |Ideology

            .desc Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. 



    section.quote_area
      .wrapper
        .quote_area_in
          .p_hands
          .quote
            |Every person who opens the door to our casino
            br
            |will feel it strait away
            
            
    section.about_gallery_area.about_gallery_area_right
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_2
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_2
              
              .dots.dots_a2
              
          
          .about_gallery_text
            .title 
              |Our 
              br
              |Standart

            .desc Our standard is exclusively high cross the country and it is equal to standards of the best places in the world, which you feel in any detail - in exclusive gaming tables, gaming machines, VIP rooms, furniture and cuisine  - we are ready to make you to feel important.
            
    
    section.about_gallery_area.pt250.be_win
      .wrapper
        .about_gallery_in
          .p_roulette
          .p_fishki  
          .about_gallery_wrap
            .about_gallery.about_gallery_3
              .item
                img(src="img/about_3.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_1.jpg", alt="")
                  
            .nav.nav_3
              
              .dots.dots_a3
              
          
          .about_gallery_text
            .title 
              |Be 
              br
              |Winner

            .desc This is the place where anyone can feel himself as a winner; Where exclusive apartments are being built for big bets; Where the game is accompanied by live music, world stars, big lotteries, unusual cuisine. 
            
            
            
            
    section.quote_area.inverse.mt150
      .wrapper
        .quote_area_in 
          .p_cube  
          .quote
            |This will be a journey you’ll never forget, 
            br 
            |and it will provide you with memories that will most probably 
            br
            |make you want to visit Georgia again.
            
            
    section.events_w_area
      .wrapper
        .events_w_in
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_1.jpg)")
            .events_w_title 
              |Upcoming
              br
              |Events
            .events_w_cat Calendar
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_2.jpg)")
            .events_w_title
              |Big
              br
              |Lotteries
            .events_w_cat entertaiments
            //- a(href="").btn Details 
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_3.jpg)")
            .events_w_title
              |Exclusive
              br
              |Apartaments
            .events_w_cat Photogallery
              
    section.about_footer_area
      .wrapper
        .about_footer_in
          .about_footer_title
            |Welcome
            br
            |to Ambassadori
          .about_footer_desc
            |Casino "ambassadori" does everything  for your pleasure, so we say to You every
            br
            |time with great pleasure - welcome to "Ambassadori"!  
          a(href="#").btn Book Now  

    include includes/_footer  
    
    include includes/_foot
