doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_conatcts_area
      //- .header_area_mask_bg
      .header_area_bg.headers_contacts_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .contacts_header
            .map_address
              div 
                |17 Shavteli Str.
                br
                |Tbilisi, 0105 
                br
                |Georgia 
              button.btn Request car
              a(href="") Open in Google Maps
            .contacts_info
              .contacts_info_title 
                |Ambassadori
                br
                |Casino
              .contacts_info_contacts
                .contact_info_item_area
                  .contacts_info_item
                    .contacts_info_item_title Phone Number
                    .contacts_info_item_n +995 598 38 38 38   
                  .contacts_info_item
                    .contacts_info_item_title WhatsApp
                    .contacts_info_item_n +995 322 11 21 21
                .contact_info_item_area    
                  .contacts_info_item
                    .contacts_info_item_title Reservation
                    .contacts_info_item_n 
                      a(href="mailto:info@ambassadori.casino") info@ambassadori.casino
                  .contacts_info_item
                    .contacts_info_item_title Reception
                    .contacts_info_item_n
                      a(href="mailto:reception@ambassadori.casino") reception@ambassadori.casino  
          

        
              
  
    

    section.contact_form
      .wrapper
        .contact_form_area
          
          .get_in_touch
            .about_casino
              .about_casino_title About casino
              .about_casino_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            .touch_form
              .touch_title 
                |Get 
                br
                |in Touch
              .touch_form_top
                .touch_form_item
                  label Name
                  input(type="text", placeholder="Your name")
                .touch_form_item
                  label E-mail
                  input(type="email", placeholder="Your email...")
              .touch_textarea
                label Message
                textarea(placeholder="Your message")
              button.btn  Send      
                      
    
    section.try_gaming
      .wrapper
        .try_gaming_area
          .try_gaming_area_title 
            |Try Our
            br
            |Gaming Tours
          .try_gaming_area_desc
            |Some text about poker here
          a(href="#").btn Details    
                            
              


    include includes/_footer  
    
    include includes/_foot
