doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_event_desc
      .header_area_mask_bg
      .header_area_bg.header_event_desc_area_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          
          .slogan
            h1 
              |Grand Lottery
              br
              |Porsche Panamera
              .event_page_date 08 march, wendsday  20:00
              a(href="#event").event_arrow
                span.icon.arrow
              
              
              
    section.about_gallery_area.mtm200.event_gallery_area_m#event
      .wrapper
        .about_gallery_in
          .about_gallery_wrap
            .about_gallery.about_gallery_1
              .item
                img(src="img/about_1.jpg", alt="")
              .item
                img(src="img/about_2.jpg", alt="")
              .item
                img(src="img/about_3.jpg", alt="")
                  
            .nav.nav_1
              
              .dots.dots_a1
              
          
          .about_gallery_text
            .title 
              |About
              

            .desc Casino "Ambassadori" is not a usual casino, it is an elite gambling club that was created based on the idea of ​​a premium-class casino. The premium class includes a unique approach to each customer and high class service. 



            
  
    
  
            
  
            
    section.events_w_area
      .events_w_area_title Other Entertaiments
      .wrapper
        .events_w_in
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_1.jpg)")
            .events_w_title 
              |Upcoming
              br
              |Events
            .events_w_cat Calendar
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_2.jpg)")
            .events_w_title
              |Ambassadori
              br
              |Gallery
            .events_w_cat photogallery
            //- a(href="").btn Details 
          .events_w_item
            .events_w_bg(style="background-image: url(img/events_w_3.jpg)")
            .events_w_title
              |Gaming
              br
              |Tours
            .events_w_cat Entertaiments
              
  

    include includes/_footer  
    
    include includes/_foot
