doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.header_events
      //- .header_area_mask_bg
      //- .header_area_bg.headers_about_bg
      //- .header_area_mask
      
      .wrapper
        .header_area_in
          include includes/_header
          
      
      section.events_area.events_page_area

        .events_area_in
          
           
          

          .events_page_slider
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details
            div.slide_item(style="background-image: url(img/slide_1.jpg)")
              .events_mask
              .wrapper
                .event_page_content
                  .event_page_title
                    |Grand Lottery 
                    br
                    |Porsche Panamera
                  .event_page_date 08 march, wendsday  20:00
                  .event_page_btn 
                    a(href="#").book.btn More Details

          
                   
          .nav.nav_ep
            .dots.dots_event  
            
            
      section.events_item
        .wrapper
          .events_items_in
            .container
              ul.events_tabs
                li.tab-link.current(data-tab='tab-1') Upcoming Events
                li.tab-link(data-tab='tab-2') Archive Events

              #tab-1.tab-content.current
                .events_items_area
                  .events_item_e(style="background-image: url(img/ed_1.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Grand 
                      br 
                      |Lottery Porsche 
                      br
                      |Panamera
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_2.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_3.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_4.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_5.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_6.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_7.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                

                
              #tab-2.tab-content
                .events_items_area
                  
                  .events_item_e(style="background-image: url(img/ed_3.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_4.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_5.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_6.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_7.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_1.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Grand 
                      br 
                      |Lottery Porsche 
                      br
                      |Panamera
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by 
                  .events_item_e(style="background-image: url(img/ed_2.jpg)")
                    .ei_mask
                    .ei_date 
                      |08 
                      span / 12
                    a(href="#").ei_title 
                      |Meet 5 Jazz 
                      br
                      |Artists In
                      br
                      |ambassadori
                    .ei_desc 
                      |A traditional card game .The goal of the 
                      br
                      |blackjack game is to defeat the dealer by     



    include includes/_footer  
    
    include includes/_foot
