doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area.gallery_header_area
      
      .wrapper
        .header_area_in
          include includes/_header
          



    section.gallery_area.gallery_page
      .wrapper
        .gallery_area_in
          h2 Gallery
          .container
            ul.tabs
              li.tab-link.current(data-tab='tab-1') Casino Interiors
              li.tab-link(data-tab='tab-2') Vip Rooms
              li.tab-link(data-tab='tab-3') Restaurant
              li.tab-link(data-tab='tab-4') Lounge Bar

            #tab-1.tab-content.current
              .gallery.gallery_i
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Interiors  
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_i      
              .gallery_desc
                |We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-2.tab-content
              .gallery.gallery_v
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Vip Rooms
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_v      
              .gallery_desc
                |-vip room- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-3.tab-content
              .gallery.gallery_r
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Restaurants
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_r    
              .gallery_desc
                |-restaurants- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
            #tab-4.tab-content
              .gallery.gallery_l
                .item
                  img(src="img/atm_1.jpg", alt="")
                  .gallery_title 
                    span Bar 
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
              .dots.dots_l     
              .gallery_desc
                |-lounge bar- We are ready to prepare unforgettable juer the best conditions 
                br
                |for entertaining and gaming tour lovers.      
          
          

              .dots
           
        


    include includes/_footer  
    
    include includes/_foot
