doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area
      .header_area_mask_bg
      .header_area_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          

          .slogan
            h1 Premium Casino
            span in the heart of georgia
          .header_bottom
            a(href="#")
              span.icon.event
              |upcoming LOTTERIES
            //a(href="#")
              span.icon.tour
              |virtual tour

    section.services_area
      .services_area_in
        .services_items
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_1.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service
                    span for more people
                  .services_title_adj
                    div *
                    span
                      |We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_2.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 2
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_3.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 3
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_4.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 4
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse
          .services_item
            .services_item_in
              .services_img
                img(src="img/service_5.jpg", alt="")
              .services_info
                .service_info_in
                  .services_title
                    h3 High Service 5
                    span for more people
                  .services_title_adj
                    div *
                    span
                      | We prepare
                      br
                      | any food
                      br
                      | you chuse




        .services_links
          .wrapper
            .services_links_line
            .services_links_list
              .item
                .square
                span.tit
                  |We will take
                  br
                  |tickets to tbilisi
              .item
                .square
                span.tit
                  |Book a hotel
                  br
                  |room
              .item
                .square
                span.tit
                  | transfer by
                  br
                  |business class car
              .item
                .square
                span.tit
                  | free meals
                  br
                  |in the restaurant
              .item
                .square
                .span.tit
                  | enjoy
                  br
                  |the game




    section.events_area

      .events_area_in
        .wrapper
          .slider_miniatures_area
            .slider_miniatures
              .item
                .date
                  |08
                  span / 09
                .type
                  |Live Music
                .title
                  |5 Famous
                  br
                  |Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 25
                  span / 09
                .type
                  | Preparty
                .title
                  | Autumn
                  br
                  | Party
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 12
                .type
                  | Live Music
                .title
                  | James blunt
                  br
                  | & qartet
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
              .item
                .date
                  | 08
                  span / 09
                .type
                  | Live Music
                .title
                  | 5 Famous
                  br
                  | Jazz Artists
                .subdate
                  | Wednsday
                  br
                  | 20:00
            //a(href="#").btn.events_btn all events

        .events_slider
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 25
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | preparty
                h3.title
                  | Autumn Party

                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 12
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | James blunt
                  br
                  | & qartet
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman

          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman
          div.slide_item(style="background-image: url(img/slide_1.jpg)")
            .events_mask
            .wrapper
              .slide_content
                .date
                  .sdate
                    | 08
                    span / 09
                  .subdate
                    | Wednsday
                    br
                    | 20:00
                .type
                  | Live Music
                h3.title
                  | Meet 5
                  br
                  | Jazz Famous
                  br
                  | Artists
                .desc
                  | Some text about this woman

    section.news_area
      .wrapper
        .news_area_in
          .news_item.news_item_v.news_item_1
            .news_time
              span.icon.wacth
              |every day at 22:00
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                |25.000
                br
                |gel
            h3.news_title Mega Big Win
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details

          .news_item.news_item_h.news_item_2
            .news_time
              span.icon.wacth
              | Every Tuesday, Wednesday, Thursday
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                | 3.750
                br
                | gel
            h3.news_title Best Hand
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details

          .news_item.news_item_h.news_item_3
            .news_time
              span.icon.wacth
              | every Saturday at 23:00
            .news_prize
              .icon.dollar
              .prize_fund prize fund
              .fund
                | 240.000
                br
                | gel
            h3.news_title Poker Battle
            .news_subtitle Some text about poker here
            .news_button
              //a.btn(href="#") Details


    section.about_area_mobile
      .wrapper
        .about_area_in
          .about_info
            .item.lt
              .about_num 22
              .about_tit Gaming Tables
              .square
              .about_desc For great games
            .item.rt
              .about_num 61
              .about_tit slot machine
              .square
              .about_desc For every taste
            .item.lb
              .about_num 3
              .about_tit private rooms
              .square
              .about_desc For high stakes and comfort
            .item.rb
              .about_num 5
              .about_tit different games
              .square
              .about_desc From Poker to Bakkar

    section.about_area
      .about_area_mask
      .wrapper
        .about_area_in
          .about_info
            .item.lt
              .about_num 22
              .about_tit Gaming Tables
              .square
              .about_desc For great games
            .item.rt
              .about_num 61
              .about_tit slot machine
              .square
              .about_desc For every taste
            .item.lb
              .about_num 3
              .about_tit private rooms
              .square
              .about_desc For high stakes and comfort
            .item.rb
              .about_num 5
              .about_tit different games
              .square
              .about_desc From Poker to Bakkar
          h2.about_title
            |About
            br
            |Casino
          .play_vid
            |play video
          .play_button_area
            a(data-fancybox, href="https://www.youtube.com/watch?v=K0OogNkzy5g").play_button
              span.icon.play





    section.games_slider_area
      .wrapper
        .games_slider_in
          .games_slider
            .games_item
              .item_left
                .title
                  |Black Jack
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .chips
                    img(src="img/chip.png")
            .games_item
              .item_left
                .title
                  | Baccar
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .dices
                    img(src="img/dice.png")
            .games_item
              .item_left
                .title
                  | Poker
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .table
                  img(src="img/table.png")
                  .cards
                    img(src="img/cards.png")
            .games_item
              .item_left
                .title
                  | Slots
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .slots
                  img(src="img/slots.png")
            .games_item
              .item_left
                .title
                  | Roulette
                .desc
                  | A traditional card game. The goal of the game
                  | is to defeat the dealer by typing 21 points.
                .button
                  a(href='#').btn see more
              .item_right
                .roulette
                  img(src="img/roulette.png")

          .games_miniatures_area
            .games_miniatures_title
              span
              span
                |Choose
                br
                |  your
                br
                |  game
              span
            .games_miniatures
              .item
                span.icon.blackjack
                .title Black Jack
              .item
                span.icon.bacar
                .title Baccar
              .item
                span.icon.poker
                .title Poker
              .item
                span.icon.slots
                .title Slots
              .item
                span.icon.roulete
                .title Roulette



    section.gallery_area
      .wrapper
        .gallery_area_in
          h2 Atmosphere
          .container
            ul.tabs
              li.tab-link.current(data-tab='tab-1') Photogallery
              //li.tab-link(data-tab='tab-2') tour 360°

            #tab-1.tab-content.current
              .gallery.gallery_m
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")
                .item
                  img(src="img/atm_1.jpg", alt="")

              .dots.dots_m
            #tab-2.tab-content
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



    section.contact_area
      .wrapper
        .contact_area_bg
        .contact_area_in
          .contact_left

            .address
              | 17 Shavteli
              br
              |   Str.
              span 0105
              div tbilisi, georgia
            .info
              div
                .span.icon.mail
                span.title in the heart of tbilisi
              div
                .span.icon.mercedes
                span.title free transfer for guests

          .contact_right
            h3.title
              |Take your
              br
              |  Game to
              br
              |  new height
            .phone
              |+995 322 112121
            .email
              a(href="mailto:info@ambasadori.casino") info@ambasadori.casino
            .button
              a(href="#").btn Book Now

    include includes/_footer  
    
    include includes/_foot
