doctype html
html(lang='en')
  head
    include includes/_head

  body
    include includes/_menu


    section.header_area
      .header_area_mask_bg
      .header_area_bg.headers_tours_bg
      .header_area_mask
      .wrapper
        .header_area_in
          include includes/_header
          

          .slogan.tours_slogan
            h1 
              |Unforgettable
              br 
              |Journey
            //- span in the heart of georgia
          .header_bottom
            a(href="#")
              span.icon.coin
              |individual price
            a(href="#")
              span.icon.dice
              |entertaiments
    section.way_area
      .wrapper
        .way_area_in
          .way_title 
            |More 
            br
            |Than Tours
          .way_desc  
              |We are ready to prepare unforgettable journey 
              br
              |to our guests . We offer the best conditions 
              br
              |for entertaining and gaming tour lovers.
          .flight_area
            .flight_title Перелет
            .flight_item
              span Ваш город
              span.icon.arrow_2.reverse
              span Тбилиси        
            .flight_item
              span Тбилиси 
              span.icon.arrow_2
              span Ваш город     
          .wishes_area
            .wishes_title
              |all your wishes 
              br
              |will come true
            .wishes_desc  
              |Just contact our professional team 
            a(href="#").btn Book Now  

          .way_t
            .fishki
            .way.way_1
              span
              .square
              .plane
              .title 
                |машина премиум-класса
                br
                |перевезет с аэропорта 
                br
                |и обратно
            .way.way_2
              span
              .square
              .title
                |поселение 
                br
                |в отель ambassadori
                br
                |или другой на выбор  
            .way.way_3
              span
              .square
              .title
                |участие 
                br
                |в розыгрышах
                  
            .way.way_4
              span
              .square
              .title
                |экскурсии
                br
                |с гидом
            .way.way_5
              span
              .square
            .way.way_6
              span
              .plane
              .square
              .title
                |организация 
                br
                |развлечений  
              
    section.enjoy_moments
      .wrapper
        .enjoy_moments_area
          .enjoy_moments_title
            |Enjoy
            br
            |The Moment
          .enjoy_moments_slogan
            |Best trip to Georgia with high service include:    
              
    section.news_area.features_area
      .wrapper
        .news_area_in
          .news_item.news_item_full.news_item_0
            .hotel_features
              ul
                li 
                  |A spa and
                  br
                  |indoor pool
                li.square  
                li 
                  |luxurious and
                  br
                  |elegant rooms
                li.square   
                li 
                  |Georgian, Italian
                  br
                  |and Asian cuisines
                li.square   
                li 
                  |high quality
                  br
                  |services
                li.square   
                li 
                  |An exclusive
                  br
                  |interiors
            .icon.stars      
            h3.news_title 
              |Hotel
              br
              |Ambassadori  
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details
            
          .news_item.news_item_v.news_item_1
            
            h3.news_title Great Events
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details

          .news_item.news_item_h.news_item_2
            
            h3.news_title Lotteries
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details

          .news_item.news_item_h.news_item_3
            
            h3.news_title Escursions
            .news_subtitle Some text about poker here
            .news_button
              a.btn(href="#") Details          

    section.mountains
      .wrapper
        .mountains_area
          .georgia
            span Welcome to  
            image(src="img/georgia.png", alt="")
            image(src="img/cities.png", alt="", class="cities")
          .get_in_touch
            .get_in_touch_info
              div
                .get_in_touch_title 
                  |This’ ll be 
                  br
                  |a journey
                .get_in_touch_subtitle
                  |You will never forget 
              div.social_items
                .social_item_p
                  .social_title WhatsApp
                  .social_number +995 598 38 38 38
                .social_item_p        
                  .social_title Phone Number
                  .social_number +995 322 11 21 21
            .touch_form
              .touch_title 
                |Get 
                br
                |in Touch
              .touch_form_top
                .touch_form_item
                  label Name
                  input(type="text", placeholder="Your name")
                .touch_form_item
                  label E-mail
                  input(type="email", placeholder="Your email...")
              .touch_textarea
                label Message
                textarea(placeholder="Your message")
              button.btn  Send      
                      
                    
              


    include includes/_footer  
    
    include includes/_foot
